<%= provide :title, "About" %>
<%= provide :special_class, " static" %>
<div id="pagewrapper" class="staticwrapper">

  <h1>About Simple Invoice</h1>
  <p>Simple Invoice is a passion project created by myself, <a href="http://www.christopherstiles.com">Chris Stiles.</a> I've worked as a freelance web designer for years. I'm always expanding my skillset and have found that building something yourself is the best way to learn.</p>
  <p>I started building Simple Invoice to help myself learn Ruby on Rails, a popular web application development framework. After taking several courses, I decided that the next step in my learning should be to jump in head first and develop an application from scratch.</p>
  <p>Invoicing clients to me was always a tedious, but necessary, practice. Manually creating PDFs for each client became a hassel to track. The different software programs I tried were—for the most part—expensive and offered more features than I needed.</p>
  <p>What I wanted was an application that just did the basics freelancers need, and did it well. This is why invoicing software was the perfect application for me to develop.</p>
  <p>I built this website from the ground up considering how I, as a freelancer, would like to invoice clients. The end result is a simple to use, powerful invoicing application you can access anywhere from any device.</p>
  <p>If you have any questions, bug reports, suggestions or feature requests, <%= link_to "please reach out", contact_path %>.</p>
  <p><br>I sincerely hope my hard work has paid off and you find Simple Invoice useful,<br><strong>Chris Stiles</strong></p>
</div>