<%= provide :title, "No Invoice Found" %>
<%= provide :special_class, " static" %>
<div id="pagewrapper" class="staticwrapper smallbox">
	<h1>No Invoice Found</h1>
	<p>Are you sure your URL is correct? Invoices created by guests expire after 60 days.</p>
	<p><%= link_to "Create an account", register_path %> to save your invoices permanently!</p>
</div>