<%= provide :title, "Create a Free Account" %>
<%= provide :special_class, " static" %>

<div id="pagewrapper" class="staticwrapper smallbox paddinganimate registerbox">

  <h1>Create a Simple <br class="mobilebreak registerbreak">Invoice Account</h1>
  <p style="text-align:center">Registration is temporarily disabled</p>
</div>