<%= provide :title, "No Invoice Found" %>
<div id="pagewrapper">
      <div id="searchnoinvoices">
         <p>No <%= invoice_type %> Found</p>
         <%= new_invoice_button("button blue") %>
      </div>
</div>