
<div id="pagewrapper">

<% if current_user.invoices.any? %>

<form accept-charset="UTF-8" action="/invoices" method="get">
  <input type="text" name="client_name" class="search client_name_search" placeholder="Client Name" autocomplete="off">
  <input type="text" name="invoice_number" class="search invoice_number_search" placeholder="Invoice Number" autocomplete="off">
</form>

<br clear="all" /><br>

<div id="searchresults">
  <%= render 'list' %>
</div>

<% end %>
</div>

<br>
Total amount due: <%= @total_due %>
<br>
<br>

<%= link_to 'New Invoice', new_invoice_path %>
