<div id="pagewrapper" class="staticwrapper smallbox paddinganimate nosidepadding">

	<h1>Forgot your password?</h1>

	<div id="validationerrors" class="clienterrors">
		<div class="validationtitle">
			<div class="closeerrors"></div>
			Please correct the following errors
			</div>
		<div id="errorholder"></div>
	</div>


	<div class="formholder">

		<div class="passwordformholder">

			<div id="passwordsuccess">
				<div id="passwordsuccesscontent">
					Please check your email, we have sent you instructions on resetting your password.
				</div>
			</div>

			<div id="passwordform">
				<%= form_for(resource, as: resource_name, url: password_path(resource_name), remote: true, html: { method: :post }) do |f| %>

				    <%= f.label :email %>
				    <%= f.email_field :email, autofocus: true, placeholder: "Email address" %>

				    <p class="staticsubmit"><%= f.submit "Reset Password", class: "button blue willload staticloading" %></p>

				<% end %>
			</div>

		</div>

	</div>



</div>