<footer <%= mobile_footer_class(is_mobile) %>>
	<div id="copy">
		&copy; <%= Time.now.year %>, Simple Invoice, All Rights Reserved
	</div>
	<%= link_to "Contact", contact_path %>
	<a href="#">About</a>
</footer>