var pageBody = $('body');

<% if @client.errors.any? %>

<% else %>

pageBody.append('<div class="success"> <div class="successtimer"></div><div class="closesuccess"></div><span><%= flash[:success] %></span></div>');
	<% flash.discard %>


// Create
// Render updated list of clients
var currentPage = $('em.current').text();
var clientNameText = $('.client_name_search').val();


 $.ajax({
	type: 'GET',
	url: '/clients/?client_name=' + clientNameText + '&page=' + currentPage,
	dataType: 'script',
	async: true
	}).done(function( msg ) {
	//console.log(msg)
	//  hideLoader();
	}).fail(function(msg){
	console.log(msg)
});

 $.ajax({
	type: 'GET',
	url: '/clients/' + '<%= @client_id %>' + '/edit',
	dataType: 'script',
	async: true
	}).done(function( msg ) {
	//console.log(msg)
	//  hideLoader();
	}).fail(function(msg){
	console.log(msg)
});

var pageBody = $('body');
var pageWrapper = $('#pagewrapper');
var clientFilter = $('#clientfiltering');
var clientContainer = $('#clientscontainer');
var clientSearch = $('#clientsearch');
var clientsSidebar = $('#clientssidebar');

function setClientFilter() {
	var width = clientContainer.outerWidth();
	var clientContainerPosition = clientContainer.offset();

	pageWrapper.css('top', clientFilter.outerHeight() + clientSearch.outerHeight() + 63);

	clientSearch.css({
		'left': clientContainerPosition.left,
		'width': width
	});

	clientFilter.css({
		'left': clientContainerPosition.left,
		'width': width,
		'top': clientSearch.outerHeight() + 63
	});

	clientsSidebar.css({
		'left': clientContainerPosition.left + width,
		'width': width
	});

}

setClientFilter();


<% end %>