var pageBody = $('body');

<% if @client.errors.any? %>

<% else %>

pageBody.append('<div class="success"> <div class="successtimer"></div><div class="closesuccess"></div><span><%= flash[:success] %></span></div>');
	<% flash.discard %>

// Update
// Render updated list of clients

<% js = escape_javascript(render 'list') %>
$("#searchresults").html("<%= js %>");

// Add selected class to client after pagination
var id = $('.edit_client').attr('data-id');
$('.client[data-id=' + id + ']').addClass('selected');


var pageBody = $('body');
var pageWrapper = $('#pagewrapper');
var clientFilter = $('#clientfiltering');
var clientContainer = $('#clientscontainer');
var clientSearch = $('#clientsearch');
var clientsSidebar = $('#clientssidebar');

function setClientFilter() {
	var width = clientContainer.outerWidth();
	var clientContainerPosition = clientContainer.offset();

	pageWrapper.css('top', clientFilter.outerHeight() + clientSearch.outerHeight() + 63);

	clientSearch.css({
		'left': clientContainerPosition.left,
		'width': width
	});

	clientFilter.css({
		'left': clientContainerPosition.left,
		'width': width,
		'top': clientSearch.outerHeight() + 63
	});

	clientsSidebar.css({
		'left': clientContainerPosition.left + width,
		'width': width
	});

}

setClientFilter();

<% end %>