<%= provide :special_class, " static" %>
<div id="pagewrapper" class="staticwrapper smallbox">
	<h1>Internal Server Error</h1>
	<p align="center">Something went wrong trying to load your page.</p>
</div>