/* SVG Icons */

$white-close-icon: asset-data-url("close-modal.svg");
$grey-close-icon: asset-data-url("close-payment.svg");
$back-icon: asset-data-url("angle-left.svg");
$date-left-icon: asset-data-url("date-left.svg");
$date-right-icon: asset-data-url("date-right.svg");
$delete-icon: asset-data-url("delete.svg");
$file-icon: asset-data-url("file.svg");
$mail-icon: asset-data-url("mail.svg");
$pig-icon: asset-data-url("pig.svg");
$insert-icon: asset-data-url("insert.svg");
$red-icon: asset-data-url("red.svg");