/* Logo */
$logo: asset-data-url("logo-white.svg");

/* SVG Icons */
$white-close-icon: asset-data-url("close-modal.svg");
$grey-close-icon: asset-data-url("close-payment.svg");
$back-icon: asset-data-url("angle-left.svg");
$date-left-icon: asset-data-url("date-left.svg");
$date-right-icon: asset-data-url("date-right.svg");
$delete-icon: asset-data-url("delete.svg");
$file-icon: asset-data-url("file.svg");
$file-white-icon: asset-data-url("file-white.svg");
$file-blue-icon: asset-data-url("file-blue.svg");
$mail-icon: asset-data-url("mail.svg");
$mail-white-icon: asset-data-url("mail-white.svg");
$mail-blue-icon: asset-data-url("mail-blue.svg");
$pig-icon: asset-data-url("pig.svg");
$insert-icon: asset-data-url("insert.svg");
$red-icon: asset-data-url("red.svg");
$edit-white-icon: asset-data-url("edit-white.svg");
$edit-blue-icon: asset-data-url("edit-blue.svg");
$new-white-icon: asset-data-url("new-white.svg");
$save-white-icon: asset-data-url("save-white.svg");
$delete-white-icon: asset-data-url("trash-white.svg");
$upload-white-icon: asset-data-url("upload-white.svg");
$invoices-icon: asset-data-url("icon-invoices.svg");
$clients-icon: asset-data-url("clients-icon.svg");
$profile-icon: asset-data-url("profile-icon.svg");
$signout-icon: asset-data-url("signout-icon.svg");


/* Colors */
$light-blue: #41a9ee;
$dark-blue: #26323f;