@import "variables";

#clientscontainer {
	width:50%;
	padding-top:32px;
	position:relative;
	border-right:1px solid #c9c9c9;
}

#clientscontainer #searchresultswrapper {
	padding-bottom:35px;
	margin-right:-1px;
}

#clientsearch {
	position: fixed;
    top: 63px;
    background-color: #ecf0f1;
    padding: 40px 0 0 20px;
    margin-left:-20px;
    box-sizing: content-box;
    z-index: 400;
}


#clientfiltering {
	padding-top:0;
	z-index: 400;
	margin-top:20px;
	min-height:1px;
	top:0;
	box-sizing:content-box;
	position:relative;
	padding: 0;
}

#clientfiltering:after {
	display:block;
	height:1px;
	background-color:#c9c9c9;
	bottom:0;
	left:0;
	right:0;
	content:"";
	position:absolute;
}

#pagewrapper.clientspage {
	margin-top:0;
}

#clientpagination .pagination > * {
	border-bottom:none;
}

#clientsearch .homefilter input[type="text"] {
	margin-bottom:0;
	width:calc(100% - 32px);
	max-width:306px;
	padding:12px;
	font-size:16px;
	height:45px;
}

#clientsearch h3 {
	font-size: 15px;
	line-height:19px;
    font-weight: 700;
    margin-bottom: 5px;
    color:$dark-blue;
    margin-top:0;
}

#clientssidebar {
	position:fixed;
	top:100px;
	z-index: 600;
	//bottom:35px;
	border-left:1px solid #c9c9c9;
}

#newclientbox {
	padding: 0 30px 20px 30px;
    border-bottom: 1px solid #c9c9c9;
    text-align: right;
}

#newclientbox .button {
	padding:0px 35px;
	display:inline-block;
}

.client {
	height:55px;
	display:block;
	background-color:#fff;
	position:relative;
	border-radius:2px;
	margin-bottom:8px;
	-webkit-box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:    0px 2px 14px 0px rgba(0, 0, 0, 0.05);
	box-shadow:         0px 2px 14px 0px rgba(0, 0, 0, 0.05);
	color:$dark-blue;
	margin-right:30px;
	cursor: pointer;
	 -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.client:hover {
	background-color:#f7f7f7;
}

@media screen and (min-width:886px) {
	.client.selected {
		color:#fff;
		background-color:$light-blue;
		cursor: default;
	}
}

.clientname, .clientemail {
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	width:50%;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	line-height:1;
	width:calc(50% - 25px);
}

.clientname {
	left:20px;
	font-size:16px;
}

.clientemail {
	right:20px;
	font-size:14px;
	text-align:right;
}

.clientformtitle {
	font-size:20px;
	font-weight:400;
	margin-bottom:10px;
	color:$dark-blue;
}

/* Forms */

.clientsformwrapper {
	position:relative;
	padding:25px 0px 25px 30px;
}

.formholder, .logoformholder {
	position:relative;
	transform:translate3d(0,0,0);
	transition:transform .3s, padding .3s;
}

.clientsformwrapper:after {
	display:block;
	content:"";
	clear:both;
}

.clientsformwrapper label {
	font-size: 13px;
    font-weight: 600;
    padding-bottom: 3px;
    display: block;
    color:$dark-blue;
}

.clientsformwrapper select {
	width:100%;
}

.clientsformwrapper input[type="text"], .clientsformwrapper input[type="password"] {
	margin-bottom: 10px;
    display: block;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 1px;
    border: 1px solid #d2cccc;
    font-weight: 300;
    font-family: 'Libertad', sans-serif;
    color: $dark-blue;
    width: 100%;
    font-size: 15px;
    -webkit-appearance:none;
}

.clientsformwrapper input[type="text"]:focus, .clientsformwrapper input[type="password"]:focus {
	border: 1px solid $light-blue;
}

.clientsformwrapper input[type="text"].haserror, .sendemailform input[type="text"].haserror, #modalcontent .selectize-input.haserror, .clientsformwrapper input[type="password"].haserror, .sessionbox input.haserror {
	border:1px solid #c47375 !important;
	background-color:#fff !important;
}

.clientsformwrapper input[type="text"].haserror:focus, .sendemailform input[type="text"].haserror:focus, #modalcontent .selectize-input.input-active.haserror, .clientsformwrapper input[type="password"].haserror:focus, .sessionbox input.haserror:focus {
	border:1px solid #df4535 !important;
}

#modalcontent .selectize-input input {
	border:none !important;
	background-color:#fff !Important;
}

.clientsformwrapper .half {
	width:calc(50% - 11px);
	margin-right:18px;
	display:inline-block;
	height:64px;
	vertical-align:top;
}

.full {
	width:100%;
}

.full:before, .full:after {
	content:"";
	display:block;
	clear:both;
}

.clientsformwrapper .nomargin {
	margin-right:0;
}

.clientsformwrapper .checkboxholder {
	margin-top:0;
}

.clientsformwrapper .button {
	margin-top:13px;
	float:right;
}

#validationerrors.clienterrors, #modalvalidationerrors.emailinvoicevalidation, #modalvalidationerrors.logovalidation {
	left:0;
	top:0;
	margin-bottom:0;
}

#validationerrors.clienterrors .validationtitle {
	padding:6px;
}

#validationerrors.clienterrors p {
	padding:6px 15px;
}

#validationerrors.clienterrors p, #validationerrors.clienterrors .validationtitle {
	font-size:13px;
}

#validationerrors.clienterrors .closeerrors {
	width:21px;
	height:21px;
	background-size:15px 15px;
	margin-top:-3px;
}

#noclients p {
    text-align: center;
    margin:0;
    font-size: 35px;
    padding-top: 70px;
    padding-right:25px;
    font-weight: 100;
    color: #6F6F6F;
}

.mobilenewclient {
	display:none !important;
}

#clientssidebar #toolbar {
	display:none;
}
