@font-face {
    font-family: 'Libertad';
    src: asset-url('libertad-extrabold.eot');
    src: asset-url('libertad-extrabold.eot?#iefix') format("embedded-opentype"),
         asset-url('libertad-extrabold.svg#Libertad') format("svg"),
         asset-url('libertad-extrabold.woff2') format("woff2"),
         asset-url('libertadextraboldibertad-extrabold.woff') format("woff"),
         asset-url('libertad-extrabold.ttf') format("truetype");
    font-weight: 800;
    font-style: normal;

}


@font-face {
    font-family: 'Libertad';
    src: asset-url('libertad-bold.eot');
    src: asset-url('libertad-bold.eot?#iefix') format("embedded-opentype"),
         asset-url('libertad-bold.svg#Libertad') format("svg"),
         asset-url('libertad-bold.woff2') format("woff2"),
         asset-url('libertad-bold.woff') format("woff"),
         asset-url('libertad-bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;

}


@font-face {
    font-family: 'Libertad';
    src: asset-url('libertad-bolditalic.eot');
    src: asset-url('libertad-bolditalic.eot?#iefix') format("embedded-opentype"),
         asset-url('libertad-bolditalic.svg#Libertad') format("svg"),
         asset-url('libertad-bolditalic.woff2') format("woff2"),
         asset-url('libertad-bolditalic.woff') format("woff"),
         asset-url('libertad-bolditalic.ttf') format("truetype");
    font-weight: 700;
    font-style: italic;

}


@font-face {
    font-family: 'Libertad';
    src: asset-url('libertad-italic.eot');
    src: asset-url('libertad-italic.eot?#iefix') format("embedded-opentype"),
         asset-url('libertad-italic.svg#Libertad') format("svg"),
         asset-url('libertad-italic.woff2') format("woff2"),
         asset-url('libertad-italic.woff') format("woff"),
         asset-url('libertad-italic.ttf') format("truetype");
    font-weight: 400;
    font-style: italic;

}


@font-face {
    font-family: 'Libertad';
    src: asset-url('libertad.eot');
    src: asset-url('libertad.eot?#iefix') format("embedded-opentype"),
         asset-url('libertad.svg#Libertad') format("svg"),
         asset-url('libertad.woff2') format("woff2"),
         asset-url('libertad.woff') format("woff"),
         asset-url('libertad.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;

}


@font-face {
    font-family: 'Libertad';
    src: asset-url('libertad-lightitalic.eot');
    src: asset-url('libertad-lightitalic.eot?#iefix') format("embedded-opentype"),
         asset-url('libertad-lightitalic.svg#Libertad') format("svg"),
         asset-url('libertad-lightitalic.woff2') format("woff2"),
         asset-url('libertad-lightitalic.woff') format("woff"),
         asset-url('libertad-lightitalic.ttf') format("truetype");
    font-weight: 300;
    font-style: italic;

}


@font-face {
    font-family: 'Libertad';
    src: asset-url('libertad-light.eot');
    src: asset-url('libertad-light.eot?#iefix') format("embedded-opentype"),
         asset-url('libertad-light.svg#Libertad') format("svg"),
         asset-url('libertad-light.woff2') format("woff2"),
         asset-url('libertad-light.woff') format("woff"),
         asset-url('libertad-light.ttf') format("truetype");
    font-weight: 300;
    font-style: normal;

}