#invoiceswrapper {
	transform:translateY(0);
	transition: transform .3s;
	position:relative;
}

#invoiceswrapper.moved {
	transform: translateY(75px);
}

.homeinvoice {
	border-radius:2px;
	background-color:#fff;
	width:244px;
	-webkit-box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    0px 6px 20px 0px rgba(0, 0, 0, 0.1);
	box-shadow:         0px 6px 20px 0px rgba(0, 0, 0, 0.1);
	text-align:center;
	display:inline-block;
	margin:0 16px 46px 16px;
	float:left;
	position:relative;
}

.homeinvoiceloader {
	position:absolute;
	z-index: 200;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(255,255,255,.87);
	border-radius:2px;
	top: 40px;
	display:none;
}

.homeupdatebalance {
	position:absolute;
	z-index: 100;
	top:0;
	left:0;
	right:0;
	bottom:0;
	transform:translateX(-100%);
	transition: all .3s;
	text-align:left;
}

.homerecordtable {
	display:table;
	width:100%;
}

.homerecordtable .cell {
	font-size:14px;
	height:36px;
	padding: 0 15px;
	border-bottom:1px solid #ececec;
	max-width:100px;
}

.homerecordtable .row > div:last-of-type {
	color:#41a9ee;
}

.homerecordtable .amountpaidrow:hover {
	background-color:#f9f9f9 !important;
}

.homerecordtable .amountpaidrow.active {
	background-color:#f7f7f7;
}

.homerecordtable .e-amountpaid {
	height:37px;
	margin:0 -15px 0 0;
	min-width:60px;
	padding:10px 15px 0 15px;
	background-color:#f3f3f3;
	max-width:78px;
	float:right;
}

.homerecordtable .e-amountpaid:hover, .homerecordtable .e-amountpaid:focus {
	background-color:#e7e7e7;
}

.homeinvoiceinfo {
	transition: all .3s;
}

.homeupdatebalance.active {
	transform:translateX(0);
}

.homeinvoiceinfo.active {
	transform:translateX(100%);
}

.homeinvoiceloader .throbber-loader {
	top:45% !important;
}

.homeinvoice h3 {
	margin:0;
	padding:12px 0 11px 0;
	line-height:1;
	background-color:#26323f;
	color:#fff;
	font-weight:100;
	text-align:center;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	white-space: nowrap;
	overflow:hidden;
	position:relative;
	z-index: 300;
}

.homeinvoiceinfowrapper {
	position:relative;
	overflow:hidden;
}

.balancesection {
	height:98px;
	position:relative;
	border-bottom:1px solid #d4d4d4;
	color:#2c2c2c;
	font-size:15px;
	line-height:1;
	overflow:hidden;
}

.vcenter {
	width:100%;
	left:0;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
}

.balancesection span {
	display: block;
    color: #41a9ee;
    font-weight: 600;
    font-size: 33px;
    padding-top: 3px;
}

.invoiceinfosection {
	padding:16px 22px 17px 22px;
	line-height:1;
	color:#636363;
	font-weight:300;
	font-size:15px;
	text-align:left;
	line-height:19px;
}

.invoiceinfosection strong {
	color:#3e3e3e;
}

.homeinvoice a {
	color:#41a9ee;
	text-align:center;
}

.homeinvoice a:hover {
	background-color:#f5f5f5;
}

.homeinvoice a:active {
	background-color:#e9e9e9;
}

a.viewinvoice {
	padding:13px 0 13px 0;
	border-bottom:1px solid #d4d4d4;
	border-top:1px solid #d4d4d4;
	display:block;
	text-decoration:none;
	font-size:15px;
	font-weight:600;
}

a.thirdbutton {
	display:inline-block;
	box-sizing:border-box;
	border-right:1px solid #d4d4d4;
	width:33.333333333%;
	float:left;
	height:66px;
	background-repeat: no-repeat;
	background-position:center center;
	position:relative;
}

.thirdbutton span {
	margin-top:3px !important;
	z-index: 300;
}

/* Tooltip CSS for .thirdbutton is in style.css */

.file {
	background-image: url(/assets/file.png);
	background-size:17px 23px;
	border-bottom-left-radius:2px;
}

.mail {
	background-image: url(/assets/mail.png);
	background-size:25px 16px;
}

.pig {
	border-bottom-right-radius:2px;
	position:relative;
}

.overflowcontainer, .amountpaidbutton {
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	overflow:hidden;
}

.amountpaidbutton {
	transition: all .3s;
	background-position:center center;
	background-repeat: no-repeat;
}

.showamountpaid {
	background-image: url(/assets/pig.png);
	background-size:28px 26px;
}

.closeamountpaid {
	background-image: url(/assets/close-payment.png);
	background-size:22px 22px;
	transform:translateX(-100%);
}

.homeclose .showamountpaid {
	transform:translateX(100%);
}

.homeclose .closeamountpaid {
	transform:translateX(0);
}

.homeamountpaiderror {
	width:16px;
	height:14px;
	background-image: url(/assets/red.png);
	background-repeat: no-repeat;
	background-size:16px 14px;
	float:right;
	position:relative;
	top:11px;
	margin-right:10px;
	display:none;
}

.homeamountpaiderror:after {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 7px 8px 7px;
	border-color: transparent transparent #c47375 transparent;
	display:block;
	content:"";
	position:absolute;
	bottom:-12px;
	left:50%;
	transform:translateX(-50%);
	border-style: inset;
	display:none;
	visibility:none;
    opacity:0;
    transition:opacity .3s;
}

.homeamountpaiderror:hover:after, .homeamountpaiderror:hover #validationerrors.amountpaidvalidation.indexpage {
	display:block;
	visibility:visible;
    opacity:1;
}

#validationerrors.amountpaidvalidation.indexpage {
    left: 50%;
    transform: translate(-50%, 72px);
    word-wrap: normal;
    min-width: 0;
    white-space:normal !important;
    width:210px;
    visibility:none;
    opacity:0;
}

#validationerrors.amountpaidvalidation.indexpage:before {
	display:none;
}

#validationerrors.amountpaidvalidation.indexpage .validationtitle {
	font-size:11px;
}

#validationerrors.amountpaidvalidation.indexpage p {
	font-size:11px;
}

#searchresultswrapper {
	position:relative;
	z-index: 301;
}

#searchresultswrapper:after {
	content:"";
	clear:both;
	display:block;
}

a.noborder {
	border-right:none !important;
}

.overdue, .overdue strong {
	color:#df4535 !important;
}

.loadingspinner {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:rgba(236,240,241,.8);
	z-index: 200;
	height:100%;
	display:none;
}

.loadingcircle {
	width: 110px;
    height: 60px;
	background-color:#fff;
	position:fixed;
	border-radius:2px;
	top:50%;
	transform:translateX(-50%);
}

.loadingspinner .throbber-loader:not(:required) {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

/* Fixed right sidebar */

#homeside {
	position:fixed;
	width:270px;
	padding-right:32px;
	box-sizing:content-box;
	top:100px;
	right:100px;
	border-left:1px solid #c9c9c9;
	transform:translateX(-100%);
	color:#26323f;
	z-index: 300;
}

.homesidesection {
	padding:25px 0 25px 25px;
	border-bottom:1px solid #c9c9c9;
}

#homeside > div:last-child {
	border-bottom:none !important;	
}

.homesidesection * {
	margin:0;
}

#homeside > div:nth-of-type(1) {
	padding-top:5px;
}

#homeside > div:last-child {
	padding-bottom:15px;
}

.homesidesection h3 {
	font-size:16px;
	font-weight:700;
	margin-bottom:10px;
}

.homesortoptions {
	margin-top:17px;
	margin-bottom:15px;
}

.homesideborders {
	padding: 12px 0 17px 0px;
	border-top:1px solid #d6d6d6;
	border-bottom:1px solid #d6d6d6;
}

.homesidesection h4 {
	font-size:13px;
	font-weight:700;
	margin-bottom:0;
}

.invoice_sorted_by {
	width:100%;
}

.homefilter input[type="text"] {
	margin-bottom: 6px;
    display: block;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 1px;
    border: 1px solid #d2cccc;
    font-weight:300;
    font-family: 'Libertad', sans-serif;
    color:#26323f;
    width:100%;
    font-size:15px;
}

.homefilter input[type="text"]:focus {
	border:1px solid #41a9ee;
}

.checkboxholder {
	position:relative;
	margin-top:15px;
}

input[type="checkbox"] {
    display:none;
    float:left;
}

input[type="checkbox"] + label {
	font-size:14px;
}

input[type="checkbox"] + label div {
	position:absolute;
	left:30px;
	font-size: 14px;
	top:0;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:#fff;
    cursor:pointer;
    position:relative;
    border-radius:2px;
    border: 1px solid #d2cccc;
    box-sizing:border-box;
}
input[type="checkbox"]:checked + label span {
    background:#41a9ee;
    border: 1px solid #41a9ee;
    transition: all .1s;
}

input[type="checkbox"]:checked + label span:before {
	content:"✓";
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	color:#fff;

}

#invoicesoverview {
	font-size: 15px;
    font-weight: 600;
} 

#invoicesoverview .homesideborders {
	border-bottom:none;
	margin-top:15px;
	font-size:23px;
	padding-bottom:0;
	font-weight:300;
	margin-bottom:0;
}

#invoicesoverview .homesideborders span {
	color:#41a9ee;
	font-weight:600;
}

.homesidesection .button {
	display:block;
}

#homepagination {
	position:fixed;
	top:63px;
	background-color:#ecf0f1;
	padding: 40px 15px 0px 100px;
    box-sizing: border-box;
    z-index: 200;
}

#homepagination:after {
	position:absolute;
	left:100px;
	right:0;
	bottom:0;
	height:1px;
	content:"";
	display:block;
	background-color:#c9c9c9;
}

#homepagination:empty:after {
	display:none;
}

.pagination {
	background-color:#fff;
	display: table;
    border-collapse: collapse;
}

.pagination > * {
	padding:8px 15px;
	display:table-cell;
	border:1px solid #c9c9c9;
	color:#26323f;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	position:relative;
}

.pagination a {
	text-decoration:none;
	color:#41a9ee;
}

.pagination a:hover {
	background-color:#f7f7f7;
}

.pagination a:active {
	background-color:#e9e9e9;
}

.pagination .current {
	background-color:#f7f7f7;
}

.previous_page:before, .next_page:before {
	content:"";
	display:block;
	width:5px;
	height:8px;
	background-image: url(/assets/paginationarrows.png);
	background-repeat: no-repeat;
	background-size:10px 16px;
	overflow:hidden;
	position:relative;
	top:5px;
}

.previous_page:before {
	float:left;
	background-position:0px -8px;
	margin-right:8px;
}

.next_page:before {
	float:right;
	background-position:-5px -8px;
	margin-left:8px;
}

.previous_page.disabled:before {
	background-position:0px 0px;
}

.next_page.disabled:before {
	background-position:-5px 0px;
}

.noinvoices {
	display:none;
}

#searchnoinvoices {
    text-align: center;
    font-size: 45px;
    padding-top: 70px;
    font-weight: 100;
    color: #6F6F6F;
}

.noinvoices p {
	margin-bottom:0;
}

.noinvoices .button {
	font-size:18px;
}