#invoicewrapper {
	max-width:780px;
	margin:150px auto;
	position:relative;
	left:141px;
	z-index: 300;
	font-size:17px;
}


#invoicewrapper:after {
	clear:both;
	display:block;
	content:"";
}

#invoice {
	background:#fff;
	display:block;
}

.hiddencontainer {
	display:none;
	position:absolute;
	left:-9999px;
}

/* Section Status and Tooltips */

.sectionstatus {
	width:74px;
	position: absolute;
	left:-74px;
    top: 0;
    bottom: 0;
	background-repeat:no-repeat;
	background-position:center center;
	opacity:0;
	animation: fadeIn .2s;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	from {
		opacity:0;
	}

	to {
		opacity:1;
	}
}

#invoicewrapper.show .sectionstatus {
	display:none;
}

#invoicewrapper.edit #invoice, #invoicewrapper.new #invoice {
	transform:translateX(0);
	animation: slideOver .2s;
	animation-fill-mode: forwards;
}

@keyframes slideOver {
	from {
		transform:translateX(0);
	}

	to {
		transform:translateX(37px);
	}
}

#invoicenumber .sectionstatus {
	bottom:-1px;	
}

.green {
	background-color:rgba(103,159,24,.14);
	background-image: url(/assets/green.png);
	background-size:24px 24px;
}

.yellow {
	background-color:rgba(241,196,15,.2);	
	background-image:url(/assets/yellow.png);
	background-size:27px 24px;	
}

.yellow:hover {
	background-color:rgba(241,196,15,.33);	
}

.red {
	background-color:rgba(231,76,60,.28);
	background-image:url(/assets/red.png);
	background-size:27px 24px;	
}

.red:hover {
	background-color:rgba(231,76,60,.37);	
}

.tooltip {
	position:absolute;
	top:0;
	left:-197px;
	width:180px;
	box-sizing:border-box;
	padding:20px;
	background-color:rgba(0,0,0,.8);
	border-radius:2px;
	color:#fff;
	z-index:800;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.15s linear;
}

.sectionstatus:hover .tooltip {
	visibility: visible;
	opacity: 1;
}

.tooltip:before {
	content:"";
	display:block;
	position:absolute;
	right:-8px;
	top:15;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 9px 0 9px 8px;
	border-color: transparent transparent transparent rgba(0,0,0,.8);	
	border-style: inset;
	-webkit-transform:rotate(360deg);
}

.tooltip p {
	margin-top:0;	
	font-size:15px;
	font-weight:400;
	line-height:1.3em;
	margin-bottom:10px;
}

.tooltip p:last-child {
	margin-bottom:0;
}

/* Invoice sections */

/* This puts the placeholder text in the div when the content editable div is empty. It also prevents the layout from changing due to an empty div */
[contenteditable="true"]:before {
	content: attr(placeholder);
	position:static;
	display:none;
	color:#818080;
}

[contenteditable="true"]:empty:before {
	position:static;
	display:inline;
}

/* Hide input fields to allow text to be sent from content editable spans */

#invoicewrapper section input {
	display:none;
	position:absolute;
	left:-9999px;
}

#invoicewrapper span {
	min-width:25px;
	display:inline-block;
	max-width:100%;
}

#invoicewrapper #e-invoicenumber {
	display:inline;	
}

[contenteditable="true"] {
	background-color:#fff3c4;
	min-width:25px;
	padding:2px 5px;
	margin:-2px -5px;
	cursor:pointer;
	position:relative;
}

[contenteditable="true"]:hover {
	background-color:#fdeca8;
	z-index:100;
	-webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:    0px 2px 6px 0px rgba(0, 0, 0, 0.05);
	box-shadow:         0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}

[contenteditable="true"]:active, [contenteditable="true"]:focus {
	background-color:#ffe88a;
	outline:none;
	z-index:100;
	-webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:    0px 2px 6px 0px rgba(0, 0, 0, 0.05);
	box-shadow:         0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}

section {
	border-bottom:1px solid #c9c9c9;	
	box-sizing:border-box;
	padding:25px 33px 22px 33px;
	position:relative;
	color:#818080;
	font-weight:300;
	line-height:1.3em;
}

section:after {
	content:"";
	display:block;
	clear:both;	
}

#invoicenumber {
	border-bottom:2px solid #c9c9c9;	
	padding:30px 33px 10px 40px;
}

#invoicenumber span {
	display:inline;
	float:none;	
}

#invoicenumber div {
	text-align:right;
	color:#b3afaf;
	font-size:23px;
	font-weight:400;
}

#userinfo {
	width:50%;	
	float:left;
}

#e-invoicenumber {
	color:#7a7777;
	font-weight:700;
	min-width:15px;
}

#e-name {
	color:#686666;
	font-weight:600;
	font-size:28px;
}

#dateterms {
	width:50%;
	float:right;	
}

#dateterms span {
	color:#656363;
	font-weight:600;
}

#dateterms td.invoicesetting {
	max-width:100%;
	width:1%;
	white-space:nowrap;
	padding-left:10px;
	padding-bottom:2px;
}

.terms {
	width:100%;
}

.sectiontitle {
	color:#686666;
	font-weight:600;	
	font-size:19px;
	display:block;
	margin-bottom:4px;	
}

#clientinformation {
	color:#818080;
	font-weight:300;
}

#invoiceitems {
	font-size:16px;
	padding:20px 0 0 0;
}

#invoiceitems th {
	font-weight:600;
	padding-bottom:10px;
	color:#686666;
}

#invoiceitems th:first-child, #invoiceitems td.jobdescriptioncell {
	padding-left:33px;
}

#invoiceitems th:last-child, #invoiceitems td.amountcell {
	padding-right:33px;
}


#invoiceitems td {
	padding:20px 0 20px 10px;
	color:#686666;
	font-weight:400;
	line-height:1.3em;
	position:relative;
}

.quantitycell, .ratecell, .amountcell {
	white-space:nowrap;
}

.ratecell [contenteditable="true"] {
	margin-left:2px;	
}

#invoiceitems tr:last-child td {
	border-bottom:none;
}

#invoiceitems tr {
	position:relative;	
}

.jobcontrols {
	position: absolute;
    float: right;
    top: 50%;
    transform: translateY(-50%);
    right: -60px;
    width: 60px;
    padding: 15px;
    background-color: #fff;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#invoicewrapper.show .jobcontrols {
	display:none;
}

#invoiceitems tr:hover .jobcontrols {
	background-color:#f7f7f7;	
}

.jobcontrols div {
	display:block;
	cursor:pointer;	
	width:30px;
	height:30px;
	background-repeat:no-repeat;
	background-size:22px 22px;
	background-position:center center;
	float:left;
	border-radius:50%;
}

.delete {
	background-image:url(/assets/delete.png);
}

.delete:hover {
	background-color:#fae9e7;
}

.delete.disabled {
	cursor:default;
	opacity:.5;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

.delete.disabled:hover {
	background-color:transparent;	
}

.insert:hover {
	background-color:#e7f0da;
}

.insert {
	background-image:url(/assets/insert.png);
}

#invoiceitems tr:after {
	display: block;
    height: 1px;
    content: "";
    background-color: #c9c9c9;
    position: absolute;
    left:33px;
	right:33px;
}

#invoiceitems tr:first-child:after {
	display:none;	
}

#invoiceitems tr:hover, #invoiceitems tr.activerow, #invoiceitems .jobcontrols.activerow, #notes:hover {
	background-color:#f7f7f7;
}

#invoiceitems tr.tableheading:hover {
	background-color:transparent;
}

td.ratecell:before {
	display:inline;
	content:"$";
	font-weight:300;
	color:#838383;
	margin-right:2px;
}

#invoicetotal {
	font-size:20px;
	font-weight:600;
	color:#686666;	
}

#invoiceamount {
	float:right;
	text-align:right;
	font-size:30px;	
}

#notes {
	border-bottom:none;
}

#e-notes {
	display:block !important;
}