@media screen and (max-width:1210px) {
	#invoicewrapper {
		width: calc(100% - 408px);
	    left: 0;
	    margin-left: 320px;
	    max-width: none;
	}

	#invoicewrapper.show {
		width: calc(100% - 358px);
	}
}