@import "variables";

body.noscroll {
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

html.noscroll {
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}

#modaloverlay {
	position:fixed;
	z-index: 9998;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(255,255,255,.8);
}

#modalwindow {
	background-color:#fff;
	z-index: 9999;
	position:fixed;
	width:100%;
	max-width:692px;
	height:100%;
	max-height:520px;
	border-radius:3px;
	top:50%;
	left:50%;
	-webkit-box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.14);
	-moz-box-shadow:    0px 7px 16px 0px rgba(0, 0, 0, 0.14);
	box-shadow:         0px 7px 16px 0px rgba(0, 0, 0, 0.14);
	overflow:hidden;
	opacity:0;
	animation-duration: .4s;
	animation-timing-function: cubic-bezier(0.34,1.61,0.7,1);
	animation-name: scaleBounce;
	animation-fill-mode: forwards;
	animation-delay:.2s;
}

@keyframes scaleBounce {
	from {
		transform: translate(-50%,-40%) scale(.8);
		opacity:0;
	}

	to {
		transform: translate(-50%,-50%) scale(1);
		opacity:1;
	}
}

#modaltitle {
	display:block;
	color:#fff;
	font-size:20px;
	font-weight:200;
	background-color:#26323f;
	position:relative;
	box-sizing:border-box;
	height:53px;
}

#modaltitle span {
	position:absolute;
	left:25px;
	top:50%;
	transform:translateY(-50%);
}

#modalcontent {
	padding:25px;
	background-color:#fff;
	top:53px;
	bottom:0;
	left:0;
	right:0;
	position:absolute;
	z-index: 2;
	overflow-y:scroll;
}

#modalcontent.withsearch {
	top:153px;
}

#modalcontent p:first-child {
	margin-top:0;
}

.closemodal {
	display:block;
	cursor:pointer;	
	width:30px;
	height:30px;
	background-repeat:no-repeat;
	background-size:22px 22px;
	background-position:center center;
	position:absolute;
	right:15px;
	top:50%;
	transform:translateY(-50%);
	border-radius:50%;
	background-image:$white-close-icon;
}

.closemodal:hover {
	background-color:#445262;
}

/* Loading Spinner */

@-moz-keyframes throbber-loader {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}
@-webkit-keyframes throbber-loader {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}
@keyframes throbber-loader {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}
/* :not(:required) hides these rules from IE9 and below */
.throbber-loader:not(:required) {
  -moz-animation: throbber-loader 2000ms 300ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 300ms infinite ease-out;
  animation: throbber-loader 2000ms 300ms infinite ease-out;
  background: #dde2e7;
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 0.9em;
  height: 1.5em;
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%);
}
.throbber-loader:not(:required):before, .throbber-loader:not(:required):after {
  background: #dde2e7;
  content: '\x200B';
  display: inline-block;
  width: 0.9em;
  height: 1.5em;
  position: absolute;
  top: 0;
}
.throbber-loader:not(:required):before {
  -moz-animation: throbber-loader 2000ms 150ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 150ms infinite ease-out;
  animation: throbber-loader 2000ms 150ms infinite ease-out;
  left: -1.6em;
}
.throbber-loader:not(:required):after {
  -moz-animation: throbber-loader 2000ms 450ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 450ms infinite ease-out;
  animation: throbber-loader 2000ms 450ms infinite ease-out;
  right: -1.6em;
}

/* End Loader */

/* Client Modal Content */

#client-content {
	margin:-25px 0 -25px -25px;
	padding:0;
	width: calc(100% + 50px);
}

.modal, .emailmodal {
  -webkit-touch-callout: none;
}

.modalclient {
	padding: 17px 25px;
	font-size: 15px;
	font-weight: 300;
	border-bottom: 1px solid #ececec;
	color:#26323f;
	cursor: pointer;
	transition: all .1s;
	margin:0;
	list-style: none;
}

#client-content.single {
	border-top: none !important;
}

.modalclient:hover {
	background-color:#f0f0f0 !important;
}

/*.modalclient:nth-child(even) {
	background-color:#f6f6f6;
}*/

.modalclient .client-name {
	float:left;
}

.modalclient .client-email {
	float:right;
}

.modalclient:after {
	clear:both;
	display:block;
	content:"";
}

#modalsearchwrapper {
	height:100px;
	position:relative;
	background-color:#fff;
	border-bottom: 1px solid #ececec;
	z-index: 9999;
}

#modalsearch {
	margin-bottom: 50px;
    display: block;
    width: calc(100% - 50px);
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    outline: none;
    padding: 14px;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 2px;
    border: 1px solid #d2cccc;
    font-weight:300;
    font-family: 'Libertad', sans-serif;
    color:#26323f;
}

#modalsearch:focus {
	border:1px solid $light-blue;
}

#modalcontent .noclients {
	position:absolute;
	top:45%;
	left:0;
  right:0;
	transform:translateY(-50%);
	text-align:center;
}

#modalcontent .noclients span {
	display: block;
    font-size: 35px;
    font-weight: 100;
    color: #565656;
    margin-bottom: 10px;
}

#modalcontent .noclients a {
	display:inline-block;
}

/**
 * selectize.css (v0.12.1)
 * Copyright (c) 2013–2015 Brian Reavis & contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 *
 * @author Brian Reavis <brian@thirdroute.com>
 */

 .sendemailform {
 	padding:5px 12px;
 }

 .emailclientname {
 	float:right;
 	color:#26323f;
 	font-size:19px;
 	max-width:260px;
 	text-overflow: ellipsis;
 	text-align: right;
 	white-space: nowrap;
 }

input[type="text"].modalinput {
	height:42px;
	max-width:245px;
  -webkit-appearance: none;
}

 .modalinput {
    display: block;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 1px;
    border: 1px solid #d2cccc;
    font-weight: 400;
    font-family: 'Libertad', sans-serif;
    color: #26323f;
    width: 100%;
    font-size: 16px;
 }

.modalinput:focus {
	border:1px solid $light-blue
}

.sendemailform label {
	color: #26323F;
    display: block;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
}

.sendemailform textarea {
	height:124px;
	font-size:13px;
	line-height: 1.5em;
	padding:9px 13px;
  -webkit-appearance: none;
}

.sendemailform label.messagelabel {
	margin-top:-3px;
}

.emailinvoicebutton {
	float: right;
    margin-top: 22px;
}

.selectize-dropdown {
	display:none !important;
}

.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
  visibility: visible !important;
  background: #f2f2f2 !important;
  background: rgba(0, 0, 0, 0.06) !important;
  border: 0 none !important;
}
.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
  content: '!';
  visibility: hidden;
}


.selectize-dropdown-header-close {
  position: absolute;
  right: 10px;
  top: 50%;
  color: #333333;
  opacity: 0.4;
  margin-top: -12px;
  line-height: 20px;
  font-size: 20px !important;
}
.selectize-dropdown-header-close:hover {
  color: #000000;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup {
  border-right: 1px solid #f2f2f2;
  border-top: 0 none;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
  border-right: 0 none;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
  display: none;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
  border-top: 0 none;
}
.selectize-control.plugin-remove_button [data-value] {
  position: relative;
  padding-right: 24px !important;
}

.selectize-control.plugin-remove_button [data-value] .remove:hover {
  background: rgba(0, 0, 0, 0.05);
}
.selectize-control.plugin-remove_button [data-value].active .remove {
  border-left-color: #0077b3;
}
.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
  background: none;
}
.selectize-control.plugin-remove_button .disabled [data-value] .remove {
  border-left-color: #e0e0e0;
}
.selectize-control {
  position: relative;
}
.selectize-dropdown,
.selectize-input,
.selectize-input input {
  color: #26323f;
  font-family: 'Libertad', sans-serif;
  font-size: 14px;
  line-height: 20px;
  -webkit-font-smoothing: inherit;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.selectize-input,
.selectize-control.single .selectize-input.input-active {
  background: #ffffff;
  cursor: text;
  display: inline-block;
}
.selectize-input {
  border:1px solid #d2cccc;
  padding: 8px;
  display: inline-block;
  width: 100%;
  max-width:450px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.selectize-control.multi .selectize-input.has-items {
  padding: 6px 10px 3px;
}
.selectize-input.full {
  background-color: #ffffff;
}
.selectize-input.disabled,
.selectize-input.disabled * {
  cursor: default !important;
}

.selectize-input > * {
  vertical-align: baseline;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.selectize-control.multi .selectize-input > div {
  cursor: pointer;
  margin: 0 3px 3px 0;
  padding: 3px 10px;
  background: #e6e6e6;
  color: #333333;
  border: 1px solid #cccccc;
}
.selectize-control.multi .selectize-input > div.active {
  background: #0088cc;
  color: #ffffff;
  border: 1px solid #0077b3;
}
.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
  color: #474747;
  background: #fafafa;
  border: 1px solid #e0e0e0;
}
.selectize-input > input {
  display: inline-block !important;
  padding: 0 !important;
  min-height: 0 !important;
  max-height: none !important;
  max-width: 100% !important;
  margin: 0 !important;
  text-indent: 0 !important;
  border: 0 none !important;
  background: none !important;
  line-height: inherit !important;
  -webkit-user-select: auto !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  height:24px !important;
}
.selectize-input > input::-ms-clear {
  display: none;
}
.selectize-input > input:focus {
  outline: none !important;
}
.selectize-input::after {
  content: ' ';
  display: block;
  clear: left;
}
.selectize-input.dropdown-active::before {
  content: ' ';
  display: block;
  position: absolute;
  background: #e5e5e5;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
}
.selectize-dropdown {
  position: absolute;
  z-index: 10;
  border: 1px solid #cccccc;
  background: #ffffff;
  margin: -1px 0 0 0;
  border-top: 0 none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0 0 1px 1px;
  -moz-border-radius: 0 0 1px 1px;
  border-radius: 0 0 1px 1px;
}
.selectize-dropdown [data-selectable] {
  cursor: pointer;
  overflow: hidden;
}
.selectize-dropdown [data-selectable] .highlight {
  background: rgba(255, 237, 40, 0.4);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
  padding: 3px 10px;
}
.selectize-dropdown .optgroup:first-child .optgroup-header {
  border-top: 0 none;
}
.selectize-dropdown .optgroup-header {
  color: #999999;
  background: #ffffff;
  cursor: default;
}
.selectize-dropdown .active {
  background-color: #0088cc;
  color: #ffffff;
}
.selectize-dropdown .active.create {
  color: #ffffff;
}
.selectize-dropdown .create {
  color: rgba(51, 51, 51, 0.5);
}
.selectize-dropdown-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}
.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
  cursor: pointer;
}
.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
  cursor: text;
}
.selectize-control.single .selectize-input:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #000000 transparent transparent transparent;
}
.selectize-control.single .selectize-input.dropdown-active:after {
  margin-top: -4px;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #000000 transparent;
}
.selectize-control.rtl.single .selectize-input:after {
  left: 15px;
  right: auto;
}
.selectize-control.rtl .selectize-input > input {
  margin: 0 4px 0 -2px !important;
}
.selectize-control .selectize-input.disabled {
  opacity: 0.5;
  background-color: #ffffff;
}
.selectize-dropdown {
  margin: 2px 0 0 0;
  z-index: 1000;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.selectize-dropdown .optgroup-header {
  font-size: 11px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.selectize-dropdown .optgroup:first-child:before {
  display: none;
}
.selectize-dropdown .optgroup:before {
  content: ' ';
  display: block;
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
  margin-left: -10px;
  margin-right: -10px;
}
.selectize-dropdown [data-selectable].active {
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.selectize-dropdown-content {
  padding: 5px 0;
}
.selectize-dropdown-header {
  padding: 6px 10px;
}

.selectize-input.dropdown-active {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.selectize-input.dropdown-active::before {
  display: none;
}
.selectize-input.input-active,
.selectize-input.input-active:hover,
.selectize-control.multi .selectize-input.focus {
  background: #ffffff !important;
  border:1px solid $light-blue;
  outline:none;
}
.selectize-control.single .selectize-input {
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
 
}
.selectize-control.single .selectize-input:hover,
.selectize-control.single .selectize-input:focus,
.selectize-control.single .selectize-input:active,
.selectize-control.single .selectize-input.active,
.selectize-control.single .selectize-input.disabled,
.selectize-control.single .selectize-input[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.selectize-control.single .selectize-input:active,
.selectize-control.single .selectize-input.active {
  background-color: #cccccc \9;
}
.selectize-control.single .selectize-input:hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.selectize-control.single .selectize-input.disabled {
  background: #e6e6e6 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.selectize-control.multi .selectize-input.has-items {
  padding-left: 6px;
  padding-right: 6px;
}
.selectize-control.multi .selectize-input > div {
  color: #fff;
  text-shadow: none;
  background-color:$light-blue;
  border:1px solid $light-blue;
  *background-color: #e6e6e6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.selectize-control.multi .selectize-input > div.active {
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  color: #ffffff;
  text-shadow: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
  border-color: #0077b3 #0077b3 #004466;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0088cc;
  border: 1px solid #0088cc;
}

#modalcontent.emailformmodal {
	padding-bottom:0;
}

#modalcontent .formholder {
	padding-bottom:30px;
}

#modalcontent .formholder:after {
	clear:both;
	content:"";
	display:block;
}