@import "variables";

/* Home Page */

body.homepage #formwrapper {
	padding-top:61px;
}

body.ios.homepage #formwrapper, body.android.homepage #formwrapper {
	padding-top:0 !important;
	position:relative !important;
}

body.nofixed.homepage #toolbar, body.nofixed.homepage #formwrapper {
	position:relative;
	top:0;
	padding-top:0;
}

body.nofixed #toolbar {
	 box-shadow: inset 0 6px 10px -10px rgba(0, 0, 0, 0.4);
}

body.nofixed #sidebar, body.nofixed #mobilesidebarwrapper, body.nofixed .scrollwrapper {
	position:absolute;
	top:0;
	bottom:0;
}

body.ios.homepage #mobilesidebarwrapper, body.ios.homepage .scrollwrapper, body.android.homepage #mobilesidebarwrapper, body.android.homepage .scrollwrapper {
	position:absolute !important;
	top:0 !important;
	bottom:0;
	right:auto;
}

body.ios.homepage #sidebar, body.android.homepage #sidebar, body.ios.homepage .scrollwrapper, body.android.homepage .scrollwrapper {
	right:0;
}

body.ios.homepage #toolbar, body.ios.homepage #toolbar {
	position:absolute !important;
	top:0 !important;
}

body.ios.hasfixed #htmlwrapper, body.android.hasfixed #htmlwrapper, body.ios.hasfixed #contentwrapper, body.android.hasfixed #contentwrapper {
	position:relative !important;
}

body.homepage #invoicewrapper {
	margin-top:64px;
}

body.ios.homepage #invoicewrapper, body.android.homepage #invoicewrapper  {
	margin-top:0;
	padding-top:97px;
}

body.hasabsolutes #toolbar {
	position:absolute !important;
}

// body.ios.homepage #toolbar, body.ios.hasabsolutes #toolbar, body.android.hasabsolutes #toolbar {
// 	top:0;
// 	position:relative;
// }

body.hasabsolutes #formwrapper {
	padding-top:61px !important;
}

#herotext {
	text-align:center;
	padding: 50px 35px;
	background-color:#fff;
}

#herotext h1 {
	margin-top:0;
	line-height:1;
	color:$light-blue;
	font-weight: 400;
    font-size: 36px;
    margin-bottom:8px;
}

#herotext h2 {
	margin:0;
	line-height:1;
	color:$dark-blue;
	font-weight:300;
	font-size:21px;
}

#herotext h2 span {
	margin: 0 8px;
}

#dots {
	position:relative;
	margin:35px auto -10px auto;
}

#dots, #dots:before, #dots:after {
	width:6px;
	height:6px;
	background-color:$light-blue;
	border-radius:50%;
}

#dots:before {
	left:-15px;
}

#dots:after {
	right:-15px;
}

#dots:before, #dots:after {
	content:"";
	position:absolute;
}

#bottomsection, #tryitout {
	background-color:$light-blue;
	text-align:center;
	color:#fff;
}

#tryitout {
	font-size:17px;
	line-height:38px;
	font-weight:400;
}

#bottomsection {
	padding:100px;
}


/* Login and Registration */
#sessionoverlay {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff;
	z-index: 750;
	display:none;
	overflow:hidden;
}

.sessionbox {
	border:1px solid #E2E2E2;
	padding:45px 80px 70px 80px;
	width:100%;
	max-width:490px;
	box-sizing:border-box;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	animation-name: fadeInUp;
	animation-delay: .2s;
	animation-duration: .8s;
	animation-fill-mode:forwards;
	opacity:0;
	transition: all .3s;
	margin-bottom:45px;
	overflow:scroll;
	-webkit-overflow-scrolling:touch;
	max-height:600px;
}

.sessionbox.registerbox {
	padding-bottom:50px;
}

.sessionboxwrapper {
	position:fixed;
	top:25px;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	background-color:#fff;
	overflow:hidden;
}

body.sessionopen .sessionboxwrapper {
	transition:transform .3s;
}

.sessionboxwrapper.registerwrapper {
	transform:translateX(100%);
}

#sessionoverlay.registeropen  .sessionboxwrapper.loginwrapper {
	transform:translateX(-100%);
}

#sessionoverlay.registeropen  .sessionboxwrapper.registerwrapper {
	transform:translateX(0);
}


@keyframes fadeInUp {
	from {
		transform:translate(-50%, -10%);
		opacity:0;
	}

	to {
		transform:translate(-50%, -50%);
		opacity: 1;
	}
}


.sessionbox h3 {
	color:$light-blue;
	font-weight:400;
	font-size:22px;
	margin:0 0 35px 0;
	text-align:center;
	transition:all .3s;
}

.sessionbox input[type="text"], .sessionbox input[type="email"], .sessionbox input[type="password"] {
	display:block;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    padding: 14px 20px;
    box-sizing: border-box;
    border-radius: 1px;
    border: 1px solid #E6E6E6;
    font-weight: 400;
    font-family: 'Libertad', sans-serif;
    color: #5F5F5F !important;
    font-size: 15px;
    margin-bottom:15px;
    -webkit-appearance: none;
}

.sessionbox input[type="text"]:focus, .sessionbox input[type="email"]:focus, .sessionbox input[type="password"]:focus {
	border:1px solid $light-blue;
}

.sessionbox input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    color: #5F5F5F !important;
    -webkit-text-fill-color:#5F5F5F;
}

.sessionbox label {
	display:block;
	font-size:15px;
	color:#707070;
	margin-bottom:4px;
}

.loginloadingspinner {
	position:absolute;
	bottom:90px;
	left:0;
	right:0;
	background-color:rgba(255,255,255,.8);
	display:none;
}

.loginloadingspinner .loadingcircle {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.sessionerror h3 {
	transform:translateY(-10px);
}

.sessionerrortext {
	text-align:center;
	position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    font-size: 14px;
    color: #df4535;
    font-weight: 600;
    opacity:0;
    visibility: hidden;
    transition: all .3s;
    transform:translateY(30px);
}

.sessionerror .sessionerrortext {
	visibility:visible;
	opacity:1;
	transform:translateY(0);
}

.sessionbox .button.blue {
	float: right;
    padding: 0 45px !important;
    margin-top:10px;
    position: relative;
    z-index: 200;
}

.sessionbox a {
	color:$light-blue;
	text-decoration:none;
}

.sessionbox a:hover {
	text-decoration:underline;
}

.sessionbox a.forgotpassword {
	float: left;
    margin-top: 7px;
    font-size: 15px;
}

.sessionbottomtext:before {
	clear:both;
	content:"";
	display:block;
}

.sessionbottomtext {
	position: relative;
    top: 24px;
	color:#707070;
	text-align:center;
	font-size:15px;
}

.sessionclose {
	width:56px;
	height:56px;
	position:fixed;
	top:90px;
	right:35px;
	background-image:$session-close-icon;
	background-size:42px 42px;
	background-repeat:no-repeat;
	background-position:center center;
	cursor:pointer;
	border-radius:50%;
	z-index: 9999;
}

.sessionclose:hover {
	background-color:#f7f7f7;
}

.sessionbox .clienterrors {
	top:-10px !important;
	width:calc(100% + 30px);
	left:-15px !important;
}

