@import "variables";

/* Home Page */

body.homepage #formwrapper {
	padding-top:61px;
}

body.ios.homepage #formwrapper, body.android.homepage #formwrapper {
	padding-top:0;
}

body.nofixed.homepage #toolbar, body.nofixed.homepage #formwrapper {
	position:relative;
	top:0;
	padding-top:0;
}

body.nofixed #toolbar {
	 box-shadow: inset 0 6px 10px -10px rgba(0, 0, 0, 0.4);
	 //margin-bottom:-36px;
}

body.nofixed #sidebar, body.nofixed #mobilesidebarwrapper, body.nofixed .scrollwrapper {
	position:absolute;
	top:0;
	bottom:0;
}

body.ios.homepage #htmlwrapper, body.android.homepage #htmlwrapper, body.ios.homepage #contentwrapper, body.android.homepage #contentwrapper {
	position:static !important;
}

// body.ios.hasfixed #htmlwrapper, body.android.hasfixed #htmlwrapper, body.ios.hasfixed #contentwrapper, body.android.hasfixed #contentwrapper {
// 	position:fixed !important;
// }

body.ios.hasfixed #sidebar, body.ios.hasfixed #mobilesidebarwrapper, body.ios.hasfixed .scrollwrapper, body.android.hasfixed #sidebar, body.android.hasfixed #mobilesidebarwrapper, body.android.hasfixed .scrollwrapper {
	position:fixed !important;
}

body.ios.homepage #contentwrapper, body.android.homepage #contentwrapper {
	padding-top:63px;
}


body.homepage #invoicewrapper {
	margin-top:64px;
}

body.hasabsolutes #toolbar {
	position:absolute !important;
}

body.ios.homepage #toolbar, body.ios.hasabsolutes #toolbar, body.android.hasabsolutes #toolbar {
	top:0;
	position:relative;
}

body.hasabsolutes #formwrapper {
	padding-top:61px !important;
}

#herotext {
	text-align:center;
	padding: 50px 35px;
}

#herotext h1 {
	margin-top:0;
	line-height:1;
	color:$light-blue;
	font-weight: 400;
    font-size: 36px;
    margin-bottom:8px;
}

#herotext h2 {
	margin:0;
	line-height:1;
	color:$dark-blue;
	font-weight:300;
	font-size:21px;
}

#herotext h2 span {
	margin: 0 8px;
}

#bottomsection {
	background-color:$light-blue;
	text-align:center;
	padding:100px;
	color:#fff;
}

