@import "variables";

/* Home Page */

body.homepage #toolbar, body.homepage #formwrapper {
	position:relative;
	top:0;
}

body.homepage #sidebar, body.homepage #mobilesidebarwrapper, body.homepage .scrollwrapper {
	position:absolute;
	top:0;
	bottom:0;
}

body.homepage #invoicewrapper {
	margin-top:64px;
}

#herotext {
	text-align:center;
	padding: 40px 35px;
}

#herotext h1 {
	margin-top:0;
	line-height:1;
}

#herotext h2 {
	margin:0;
}