@charset "UTF-8";

@import "variables";

html {
	overflow-y:scroll;
}

body, html {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-overflow-scrolling: touch;
    max-width:100%;
    max-height:100%;
    margin:0;
}

body.overflowhidden, html.overflowhidden {
	overflow:hidden !important;
	width:100% !important;
	height:100% !important;
}

body {
	background-color:#ecf0f1;
	font-family: 'Libertad', sans-serif;
	-webkit-text-size-adjust: 100%;
}

* {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

a {
	-webkit-tap-highlight-color:rgba(0,0,0,.2);
}

/* Loading bar */
html.turbolinks-progress-bar::before {
  background-color: #2479b1 !important;
  height: 2px !important;
  z-index: 9999;
}

#nprogress .peg {
	box-shadow: 0 0 10px $light-blue, 0 0 5px $dark-blue !important;
}

input {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

#pagewrapper {
	max-width:1200px;
	margin:37px auto 0 auto;
	padding:0 45px 45px 45px;
	box-sizing:border-box;
	position:relative;
}

#pagewrapper.widthfixedsidebar {
	padding-right:340px;
	padding-left:29px;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

#mobilesidebarwrapper {
	position:relative;
	z-index: 700;
}

body.ios #htmlwrapper, body.android #htmlwrapper {
	position:fixed;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-overflow-scrolling: touch;
	transform:translate3d(0,0,0);
	top:0;
	left:0;
	bottom:0;
	right:0;
	width:100%;
	height:100%;
	overflow:hidden;
	padding-top:0;
}

body.ios #contentwrapper, body.android #contentwrapper  {
	position:absolute;
	top:63px;
	padding-top:0;
	right:0;
	bottom:0;
	left:0;
	overflow-y:scroll;
	overflow-x:hidden;
	-webkit-overflow-scrolling: touch;
}

#contentwrapper {
	padding-top:63px;
}

/***********/
/* Header */
/***********/

header {
	background-color:#fff;
	height:63px;
	position:fixed;
	overflow:hidden;
	top:0;
	left:0;
	right:0;
	z-index:800;
	box-shadow: 0 3px 8px -3px rgba(0,0,0,.15);
}

header a {
	display:inline-block;
	float:left;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

header a.button {
	position:relative;
	top:50%;
	transform:translateY(-50%);
	margin-left:30px;
}

.newinvoiceicon:before, .editinvoiceicon:before, .saveicon:before, .deleteicon:before, .uploadicon:before  {
	background-repeat:no-repeat;
	display:inline-block;
	content:"";
	position:relative;
	line-height:0;
	margin-right:8px;
	margin-bottom:-1px;
	top:1px;
}

.newinvoiceicon:before {
	background-image:$new-white-icon;
	width:13px;
	height:15px;
}

.editinvoiceicon:before {
	background-image:$edit-white-icon;
	width:15px;
	height:15px;
}

.saveicon:before {
	background-image:$save-white-icon;
	width:14px;
	height:14px;
}


input.saveicon {
	background-image:$save-white-icon;
	background-size:13px 13px;
	padding-left:47px;
	background-position: left 25px center;
}

.deleteicon:before {
	background-image:$delete-white-icon;
	width:13px;
	height:15px;
}

.uploadicon:before {
	background-image:$upload-white-icon;
	width:18px;
	height:15px;
	top:2px;
}

#menu {
	height:63px;
}

nav a {
	border-right:1px solid #f0f0f0;
}

#sessioninfo a {
	border-left:1px solid #f0f0f0;
	float:right;
}

nav a, #sessioninfo a {
	height:63px;
	line-height:1;
	font-size:17px;
	text-decoration:none;
	padding: 23px 35px 0 35px;
	box-sizing:border-box;
	color:$dark-blue;
	background-repeat:no-repeat;
	background-position:35px center;
}

nav a:hover, #sessioninfo a:hover {
	background-color:#f3f3f3;
}

nav a:active, #sessioninfo a:active {
	background-color:#e4e4e4;
}

.navinvoices {
	background-image:$invoices-icon;
	background-size:16px 16px;
	padding-left:62px;
}

.navclients {
	background-image:$clients-icon;
	background-size:18px 18px;
	padding-left:64px;
}

#sessioninfo .navprofile {
	background-image:$profile-icon;
	background-size:17px 17px;
	padding-left:64px;
}

#sessioninfo .navsignout {
	background-image:$signout-icon;
	background-size:19px 15px;
	padding-left:65px;
}


#sessioninfo {
	float:right;
	color:#fff;
}

#toolbar {
	height:61px;
	background-color:#d9dbdb;
	width:100%;
	position:fixed;
	top:63px;
	z-index: 600;
}

#toolbarcontent {
	max-width:780px;
	margin:0 auto;
	position:relative;
	left:141px;
	height:61px;
}

#toolbar .button {
	position:absolute;
	right:0;
	top:50%;
	transform:translateY(-50%);
}

body.ios input.button {
	line-height:0;
	height:34px;
}

#toolbar input.button {
	margin:0;
}

.back {
	color:#5c5c5c;
	text-decoration:none;
	position:relative;
	padding:15px 15px 15px 20px;
	line-height:1;
	top:50%;
	transform:translateY(-50%);
	display:inline-block;
	font-size:18px;
	font-weight:300;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.back:hover {
	color:$light-blue;
}

.back:before {
	background-image: $back-icon;
	width: 13px;
    height: 23px;
    background-repeat: no-repeat;
    content: "";
    background-size: 13px 22px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -11px;
    opacity: .2;
    left:0;
    transform: scale(0.7);
}


/***********/
/* Buttons */
/***********/

.button {
	padding:0 25px;
	line-height:34px;
	background-repeat:no-repeat;
	background-color:$light-blue;
	outline:none;
	border-radius:2px;
	border:none;
	color:#fff;
	cursor: pointer;
	font-family: 'Libertad', sans-serif;
	font-size:15px;
	text-decoration: none;
	 -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    position:relative;
    -webkit-appearance: none;
    -moz-appearance:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.button.loading {
	background-color:#5e6771 !important;
	content:"Loading";
	cursor:default !important;
}

.loading {
	background-image:none !important;
	padding-left:25px !important;
}

.button.small.loading {
	padding-left:12px !important;
}

.button.small {
	font-size: 13px;
	padding: 0 12px;
	font-weight: 600;
	line-height: 29px;
}

body.ios input.button.small {
	line-height:0;
	height:28px;
}

.button.greenbutton {
	background-color:#7ba42c;
}

.button.greenbutton:hover {
	background-color:#60941c;
}

.button.greenbutton:active {
	background-color:#507c15;
}

.button.blue {
	background-color:$light-blue;
}

.button.blue:hover {
	background-color:#3292d1;
}

.button.blue:active {
	background-color:#1e6ca0;
}

.button.deleteinvoice, .button.deleteclient {
	background-color:#df4535;
	position:absolute;
	bottom:15px;
	display:block;
	left:15px;
	right:15px;
	width:auto;
}

body.ios .button.deleteinvoice {
	position:relative;
	margin-top:25px;
	left:15px;
	right:auto;
	width:252px;
	box-sizing:border-box;
}

.button.deleteclient {
	position:relative;
	float:left;
	position:static;
	margin-top:13px;
}

.button.deleteinvoice:hover, .button.deleteclient:hover {
	background-color:#c9392a;
}

.button.deleteinvoice:active, .button.deleteclient:active  {
	background-color:#9f2a1e;
}

/***********/
/* Sidebar */
/***********/

#sidebar {
	width:282px;
	background-color:$dark-blue;
	position:fixed;
	top:0;
	left:0;
	bottom:0;
    box-shadow: 3px 0 6px -2px rgba(0,0,0,0.08);
	z-index:700;
	color:#fff;
}

.scrollwrapper {
	position:absolute;
	top:63px;
	bottom:0;
	left:0;
	right:0;	
	/*overflow:scroll;*/
}

a.logo {
	display:inline-block;
	text-align:center;
	background-color:$light-blue;
	height: 63px;
	box-sizing:border-box;
	padding-top:16px;
	width:282px;
	background-image:$logo;
	background-size:171px 29px;
	background-repeat:no-repeat;
	background-position:calc(50% - 2px) calc(50% + 2px);
}

/*a.logo:hover {
	background-color:#298dcf;
}

a.logo:active {
	background-color:#1f7bb8;
}*/

a.logo img {
	width:108px;
	height:27px;	
}

/* Invoice Editing Controls */

#controls:after {
	display:block;
	content:"";
	clear:both;
}

#controls h2 {
	color:#fff;
	white-space: nowrap;
    text-overflow: ellipsis;
	background-color:rgba(255,255,255,.09);
	display:block;
	padding:19px 22px;
	font-weight:600;
	font-size:17px;
	margin:0;
	border-bottom:1px solid rgba(255,255,255,.1);
	border-top:1px solid rgba(255,255,255,.1);
	position:relative;
}

#controls h2.showinvoicenumber {
	overflow: hidden;
}

#controls h2 .showduedate {
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	right:22px;
	font-weight:300;
	font-size:13px;
}

#controls .blue {
	display:block;
	margin:15px;
}

#controls h2:first-child {
	border-top:none;
}

#controls h2:nth-of-type(2) {
	border-bottom:1px solid rgba(255,255,255,.09);
}

.control {
	color:#e4e4e4;
	font-size:15px;
	padding:0 22px;
	border-top:1px solid rgba(255,255,255,.08);
	cursor:pointer;
	-webkit-transition:all .1s;
	        transition:all .1s;
	height: 56px;
    box-sizing: border-box;
	position:relative;
}

#controls > div:nth-of-type(1) {
	border-top:none !important;
}

#controls .bonly {
	border-bottom:1px solid rgba(255,255,255,.08);
	border-top:none;
}

.control:hover {
	background-color:rgba(255,255,255,.03);
}

.control.readonly:hover {
	background-color:transparent !important;
	cursor: default !important;
}

.control.readonly .clientnameinput {
	cursor: default !important;
}

.control.hassetclient:hover {
	background-color:transparent !important;
}

.control.active, .row.active {
	background-color:rgba(255,255,255,.03);
}

.showbutton {
	display:block;
	color:#fff;
	font-weight:600;
	font-size:14px !important;
	text-decoration: none;
	padding:13px 22px 14px 45px;
	background-repeat:no-repeat;
	border-top:1px solid rgba(255,255,255,.08);
	line-height:1;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	cursor:pointer;
}

.showeditinvoicebutton {
	background-image:$edit-white-icon;
	background-size:15px 15px;
	background-position: left 16px center;
}

.showeditinvoicebutton:hover {
	background-image:$edit-blue-icon;
}

#controls .showemailinvoicebutton {
	background-image:$mail-white-icon;
	background-position: left 15px center;
	background-size:16px 10px;
}

#controls > div:nth-of-type(1).showemailinvoicebutton {
	border-top: 1px solid rgba(255, 255, 255, 0.08) !important;
}

#controls .showemailinvoicebutton:hover {
	background-image:$mail-blue-icon;
}

.viewpdfbutton {
	background-image:$file-white-icon;
	background-position: left 18px center;
	background-size:11px 15px;
}

.viewpdfbutton:hover {
	background-image:$file-blue-icon
}

.firstshowbutton {
	border-top:none;
}

.showbutton:hover {
	background-color:rgba(255,255,255,.03);
	color:$light-blue;
}

.alignment {
	position:absolute;
	line-height:0;
	top:50%;
	-webkit-transform:translateY(-50%);
	    -ms-transform:translateY(-50%);
	        transform:translateY(-50%);
}

.control span {
	font-weight:300;
	line-height:0;
}

.control input[type="text"] {
	border:none;
	outline:none;
	background-color:transparent;
	font-size:15px;
	cursor:pointer;
	color:#fff;
	width:172px;
	height:56px;
	margin-left:2px;
	font-weight:600;
	font-family: 'Libertad', sans-serif;
}

.control input[type="text"].clientnameinput {
	width:152px;
}

.control select {
	width:190px;
	margin-left:4px;
}

/* Client open button */

.clients-modal, .removelogo {
	width:28px;
	height:28px;
	position:absolute;
	border-radius:50%;
	right:20px;
	top:50%;
	transform:translateY(-50%);
	transition:all .1s;
}

.clients-modal:before, .clients-modal:after, .removelogo:before, .removelogo:after {
	content:"";
	display:block;
	position:absolute;
	height:12px;
	width:1px;
	background-color:#fff;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	transition:all .1s;
}

.clients-modal:after, .removelogo:after {
	transform:translate(-50%,-50%) rotate(90deg);
}

.addclient {
	background-color:#7ba42c;
}

.addclient:hover {
	background-color:#60941c;
}

.removeclient, .removelogo  {
	background-color:#df4535;
}

.removeclient:before, .removelogo:before {
	transform:translate(-50%,-50%) rotate(-45deg);
}

.removeclient:after, .removelogo:after {
	transform:translate(-50%,-50%) rotate(45deg);
}

.removeclient:hover, .removelogo:hover {
	background-color:#c9392a;
}

.clients-modal span, .thirdbutton span, .removelogo span  {
	position: absolute;
    display: block;
    width: auto;
    white-space: nowrap;
    border-radius: 2px;
    left: 50%;
    margin-top: 10px;
    text-align: center;
    background-color: rgba(0,0,0,.8);
    color: #fff;
    top: 100%;
    font-size: 13px;
    transform: translateX(-50%);
    padding: 8px 14px;
    font-size: 13px;
    visibility:hidden;
    opacity:0;
    transition: all .2s;
}

.clients-modal span:before, .thirdbutton span:before, .removelogo span:before {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5px 5px 5px;
	border-color: transparent transparent rgba(0,0,0,.8) transparent;
	content:"";
	display:block;
	position:absolute;
	border-style: inset;
	top:-5px;
	left:50%;
	transform:translateX(-50%) rotate(360deg);

}

.clients-modal:hover span, .thirdbutton:hover span, .removelogo:hover span  {
	visibility: visible;
	opacity:1;
}

/* Date Picker */

.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-datepicker {
	width: 17em;
	display: none;
	left:0 !important;
	width:282px;
	box-sizing:border-box;
	background-color:#f6f6f6;
	border-bottom:1px solid #e3e3e3;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: 14px 0;
	background-color:#fff;
	color:#34495e;
	font-size:14px;
	font-weight:600;
	border-bottom:1px solid #e3e3e3;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 0;
	text-align:center;
    bottom: 0;
    height: 100%;
	width: 30px;
	background-repeat:no-repeat;
	background-size:9px 14px;
	background-position:center center;
	 -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui-datepicker-next {
	right:0;	
}

.ui-datepicker-prev {
	left:0;	
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	background-color:#f6f6f6;
}
.ui-datepicker .ui-datepicker-prev {
	background-image:$date-left-icon;
}
.ui-datepicker .ui-datepicker-next {
	background-image:$date-right-icon;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	line-height: 1em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
}
.ui-datepicker table {
	width: 241px;
    font-size: 13px;
    border-collapse: collapse;
    margin: 10px auto 16px auto;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
	color:#4d4d4d;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: 5px;
	font-weight:300;
	background-color:#fff;
	text-align: right;
	text-decoration: none;
	color:#34495e;
	border-radius:2px;
}

.ui-datepicker td a:hover {
	background-color:#eaeaea;
}

.ui-datepicker td span, .ui-datepicker td a.ui-state-active {
	color:#fff;
	background-color:#34495e;
}

.ui-datepicker td.ui-state-disabled span {
	background-color:#DCDCDC;	
}

.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

/* Show Page Record Payment */

#showrecordpayment {
	display:table;
	width:100%;
	color:#fff;
	font-size:14px;
}

.row {
	display:table-row;
	font-weight:400;
}

.row > div:last-of-type {
	font-weight:600;
	text-align:right;
}

.cell {
	display:table-cell;
	width:50%;
	padding:0 22px;
	height:39px;
	vertical-align: middle;
	border-bottom:1px solid #4d5761;
	position:relative;
	box-sizing:border-box;
	white-space:nowrap;
}

#showrecordpayment .cell {
	display:inline-block;
	line-height:1;
	text-overflow: ellipsis;
}

#showrecordpayment .row > div:first-of-type {
	float:left;
	padding-top:11px;
}

#showrecordpayment .row > div:last-of-type {
	float:right;
	padding-top:12px;
}

.cell.amountpaidlabel {
	padding-left:13px;
}

.row.amountpaidrow {
	cursor: pointer;
}

.row.amountpaidrow:hover {
	background-color:rgba(255,255,255,.03);
}

.e-amountpaid {
    white-space: nowrap;
    display: block;
    overflow:hidden;
    float: right;
    min-width: 74px;
    height:39px;
    background-color:#5e6771;
    margin:-12px -22px 0 0;
    text-align:left;
    padding:12px 22px 0 22px;
    box-sizing:border-box;
    max-width:120px;
} 

.e-amountpaid.toomuch {
	color:rgb(255, 87, 70) !important;
}

.e-amountpaid:hover, .e-amountpaid:focus {
	background-color:#727a82;
}

.e-amountpaid br {
    display:none;

}

.e-amountpaid * {
    display:inline;
    white-space:nowrap;
}

.recordpaymentbutton {
	float:right;
	margin:12px;
}

#publicurl:before {
	clear:both;
	content:"";
	display:block;
}

#publicurl {
	border-top:1px solid #4d5761;
	padding:13px 22px 14px 22px;
}

#publicurl div {
	font-weight:600;
	font-size:14px;
	margin-bottom:8px;
}

#publicurl input {
	width:100%;
	box-sizing:border-box;
	padding:8px;
	font-family:Libertad;
	font-weight:400;
	font-size:13px;
	border-radius:2px;
	color:$dark-blue;
	border:none;
	outline:none;
	cursor:text;
}


#mobilesidebar span, #mobilesidebar span:before, #mobilesidebar span:after {
	height:4px;
	width:24px;
	background-color:#fff;
	border-radius:1px;
	transition: all .2s;
	position:absolute;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-touch-callout:none;
	 -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#mobilesidebar {
	position:absolute;
	top:0;
	left:0;
	height:50px;
	width:54px;
	display:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-touch-callout:none;
	 -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#mobilesidebar span {
	top:23px;
	left:15px;
}

#mobilesidebar span:before, #mobilesidebar span:after {
	content:"";
	display:block;
}

#mobilesidebar span:before {
	top:-8px;
}

#mobilesidebar span:after {
	bottom:-8px;
}

#mobilesidebar:active {
	opacity:.5;
}

#mobilesidebar.open span {
	background-color:transparent;
	-webkit-backface-visibility:hidden;
}

#mobilesidebar.open span:before {
	transform:translateY(8px) rotate(45deg);
}

#mobilesidebar.open span:after {
	transform:translateY(-8px) rotate(-45deg);
}

.mobilehomeinvoice {
	display:none;
}

.removelogo, .modal, .nomodal {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

