@charset "UTF-8";
/* CSS Document */

body {
	margin:0;
	background-color:#ecf0f1;
	font-family: 'Libertad', sans-serif;
}


/***********/
/* Header */
/***********/

header {
	background-color:#fff;
	height:63px;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:400;
	box-shadow: 0 3px 8px -3px rgba(0,0,0,.15);
}

#sessioninfo {
	float:right;
	color:#fff;
}

#toolbar {
	height:61px;
	background-color:#d9dbdb;
	width:100%;
	position:fixed;
	top:63px;
	z-index: 200;
}

#toolbarcontent {
	max-width:780px;
	margin:0 auto;
	position:relative;
	left:141px;
	height:61px;
}

#toolbar .button {
	position:relative;
	top:50%;
	transform:translateY(-50%);
	float:right;
}

.back {
	color:#5c5c5c;
	text-decoration:none;
	position:relative;
	padding:15px 15px 15px 25px;
	line-height:1;
	top:50%;
	transform:translateY(-50%);
	display:inline-block;
	font-size:18px;
	font-weight:300;
}

.back:hover {
	color:#41a9ee;
}

.back:before {
	background-image: url(/assets/angle-left.svg);
	width: 13px;
    height: 23px;
    background-repeat: no-repeat;
    content: "";
    background-size: 13px 22px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -11px;
    opacity: .2;
    left:0;
}


/***********/
/* Buttons */
/***********/

.button {
	padding:8px 25px;
	background-color:#41a9ee;
	outline:none;
	border-radius:2px;
	border:none;
	color:#fff;
	cursor: pointer;
	font-family: 'Libertad', sans-serif;
	font-size:15px;
	text-decoration: none;
	 -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

.button.blue {
	background-color:#41a9ee;
}

.button.blue:hover {
	background-color:#3292d1;
}

.button.blue:active {
	background-color:#1e6ca0;
}

.button.deleteinvoice {
	background-color:#df4535;
	position:absolute;
	bottom:15px;
	display:block;
	left:15px;
	right:15px;
	width:auto;
}

.button.deleteinvoice:hover {
	background-color:#c9392a;
}

.button.deleteinvoice:active {
	background-color:#9f2a1e;
}

/***********/
/* Sidebar */
/***********/

#sidebar {
	width:282px;
	background-color:#26323f;
	position:fixed;
	top:0;
	left:0;
	bottom:0;
    box-shadow: 3px 0 6px -2px rgba(0,0,0,0.08);
	z-index:200;
}

.scrollwrapper {
	position:absolute;
	top:63px;
	bottom:0;
	left:0;
	right:0;	
	/*overflow:scroll;*/
}

a.logo {
	display:inline-block;
	text-align:center;
	background-color:#41a9ee;
	height: 63px;
	box-sizing:border-box;
	padding-top:16px;
	width:282px;
}

a.logo:hover {
	background-color:#298dcf;
}

a.logo img {
	width:108px;
	height:27px;	
}

/* Invoice Editing Controls */

#controls h2 {
	color:#fff;
	background-color:rgba(255,255,255,.09);
	display:block;
	padding:20px 22px;
	font-weight:600;
	font-size:17px;
	margin:0;
	border-bottom:1px solid rgba(255,255,255,.1);
}

.control {
	color:#e4e4e4;
	font-size:15px;
	padding:0 22px;
	border-bottom:1px solid rgba(255,255,255,.08);
	cursor:pointer;
	-webkit-transition:all .1s;
	        transition:all .1s;
	height: 56px;
    box-sizing: border-box;
	position:relative;
}

.control:hover {
	background-color:rgba(255,255,255,.03);
}

.control.active {
	background-color:rgba(255,255,255,.03);
}

.alignment {
	position:absolute;
	top:50%;
	-webkit-transform:translateY(-50%);
	    -ms-transform:translateY(-50%);
	        transform:translateY(-50%);
}

.control span {
	font-weight:300;
	line-height:0;
}

.control input[type="text"] {
	border:none;
	outline:none;
	background-color:transparent;
	font-size:15px;
	cursor:pointer;
	color:#fff;
	width:172px;
	height:56px;
	margin-left:2px;
	font-weight:600;
}

.control select {
	width:190px;
	margin-left:4px;
}


/* Date Picker */

.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-datepicker {
	width: 17em;
	display: none;
	left:0 !important;
	width:282px;
	box-sizing:border-box;
	background-color:#f6f6f6;
	border-bottom:1px solid #e3e3e3;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: 14px 0;
	background-color:#fff;
	color:#34495e;
	font-size:14px;
	font-weight:600;
	border-bottom:1px solid #e3e3e3;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 0;
	text-align:center;
    bottom: 0;
    height: 100%;
	width: 30px;
	background-repeat:no-repeat;
	background-size:8px 13px;
	background-position:center center;
	 -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui-datepicker-next {
	right:0;	
}

ui-datepicker-prev {
	left:0;	
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	background-color:#f6f6f6;
}
.ui-datepicker .ui-datepicker-prev {
	background-image:url(/assets/date-left.png);
}
.ui-datepicker .ui-datepicker-next {
	background-image:url(/assets/date-right.png);
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	line-height: 1em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
}
.ui-datepicker table {
	width: 241px;
    font-size: 13px;
    border-collapse: collapse;
    margin: 10px auto 16px auto;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
	color:##4d4d4d;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: 5px;
	font-weight:300;
	background-color:#fff;
	text-align: right;
	text-decoration: none;
	color:#34495e;
	border-radius:2px;
}

.ui-datepicker td a:hover {
	background-color:#eaeaea;
}

.ui-datepicker td span, .ui-datepicker td a.ui-state-active {
	color:#fff;
	background-color:#34495e;
}

.ui-datepicker td.ui-state-disabled span {
	background-color:#DCDCDC;	
}

.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}
