@import "variables";

@keyframes fadeIn {
	from {
		opacity:0;
	}

	to {
		opacity: 1;
	}
}

@media screen and (max-height:780px) {
	.sessionbox {
		top:90px;
		bottom:30px;
		transform:translate(-50%, 0);
		animation-name:fadeIn;
	}

	.throbber-loader:not(:required) {
		transform:translate(-50%, -47%);
	}

	.loginloadingspinner {
		bottom:77px;
	}
}

@media screen and (min-height:780px) and (max-width: 1020px) and (min-width:651px) {
	.sessionbox {
		top:50% !important;
		left:50% !important;
		bottom: auto !important;
		transform:translate(-50%, -50%) !important;
	}
}


@media screen and (max-width:1280px) {
	#bottomsection {
		padding:55px 90px 50px 95px;
	}

	#bottomsectioncontent {
		padding:40px 0;
	}

	#bottomsectioncontent p {
		font-size:23px;
	}
}

@media screen and (max-width:1210px) {
	#invoicewrapper, #formwrapper #validationerrors {
		width: calc(100% - 408px);
	    left: 0;
	    margin-left: 320px;
	    max-width: none;
	    //transition:none !important;
	}

	#invoicewrapper.show {
		width: calc(100% - 358px);
	}

	#toolbarcontent {
		width: calc(100% - 358px);
		left: 0;
	    margin-left: 320px;
	    max-width: none;
	}

	#removelogobutton span {
		left: 40px;
		width: 80px;
		top: 50%;
		transform: translateY(-50%);
		margin-top: 0;
	}

	.removelogo span:before {
		left:-7px;
		top:50%;
		transform:translateY(-50%) rotate(-90deg);
	}
}

@media screen and (max-width:1160px) {
	#bottomsection {
		padding:45px 90px 40px 95px;
	}

	#bottomsectioncontent {
		padding:30px 0;
	}

	#bottomsectioncontent p {
		font-size:20px;
		margin-right:320px;
	}
}

@media screen and (max-width:1114px) {
	nav a, #sessioninfo a {
		padding-left:25px;
		padding-right:25px;
		background-position:25px center;
	}

	header a.button {
		margin-left:25px;
	}

	.navinvoices {
		padding-left:52px;
	}

	.navclients {
		padding-left:54px;
	}

	#sessioninfo .navprofile {
		padding-left:54px;
	}

	#sessioninfo .navsignout {
		padding-left:55px;
	}

	#usersettingshalf {
		width:505px;
	}

	#userlogohalf {
		width:calc(100% - 505px);
	}
}

@media screen and (min-width:1020px) {
	// body.ios #mobilescrollwrapper, body.android #mobilescrollwrapper, body.windows_phone #mobilescrollwrapper {
	// 	position:absolute !important;
	// 	top: 0 !important;
	// 	bottom:0!important;
	// 	left:0;
	// 	right:0;
	// 	overflow-x:visible;
	// 	overflow-y:scroll;
	// 	webkit-overflow-scrolling:touch;
	// }
}

@media screen and (max-width:1020px) {

	body, html {
		overflow:hidden;
		max-height: 100%;
		max-width: 100%;
	}

	#htmlwrapper, body.ios #htmlwrapper, body.android #htmlwrapper, body.windows_phone {
		position:fixed;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-overflow-scrolling: touch;
		transform:translate3d(0,0,0);
		top:0;
		left:0;
		bottom:0;
		right:0;
		width:100%;
		height:100%;
		overflow:hidden;
	}

	#contentwrapper, body.ios #contentwrapper, body.android #contentwrapper, body.windows_phone #contentwrapper {
		position:fixed;
		right:0;
		top:50px;
		bottom:50px;
		padding-top:0;
		left:0;
		overflow-y:scroll;
		overflow-x:hidden;
		-webkit-overflow-scrolling: touch;

	}

	#htmlwrapper:before {
		content:"";
		display:block;
		position:absolute;
		top:0;
		left:0;
		right:0;
		height:50px;
		background-image:$logo;
		background-size:148px 25px;
		background-repeat:no-repeat;
		background-position:calc(50% - 2px) calc(50% + 2px);
		background-color:$light-blue;
		z-index: 9998;
	}

	header .logo {
		display:none;
	}

	header {
		bottom:0;
		top:auto;
		height:50px;
		position:fixed;
		border-top:1px solid #D4D4D4;
	}

	#menu {
		position: fixed;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    background-color: #fff;
	    z-index: 9999;
	    height:50px;
	    transform:translate3d(0,0,0);
	    -webkit-backface-visibility: hidden;
	}

	nav a, #sessioninfo a, header .newinvoiceicon {
		height:50px;
		text-align: center;
		background-position:top 8px center;
	}

	#sessioninfo {
		width:40%;
	}

	#sessioninfo.notsignedin {
		width:100%;
	}

	#sessioninfo.notsignedin .signinbutton {
		border-left:none !important;
	}

	nav a, #menu a {
		width:20%;
		font-size:12px;
		padding:32px 0 0 0 !important;
		line-height:12px;
	}

	#sessioninfo a {
		width:50%;
	}

	header a.button.blue {
		margin:0;
		padding:0;
		height:50px;
		border-radius:0;
		position:static;
		transform:none;
		background-image:$new-white-icon;
		background-size:15px 17px;
		top:auto;
		background-position: top 10px center;
	}

	header .newinvoiceicon:before {
		display:none;
	}

	.navclients {
		border-right:none !important;
	}

	.navprofile {
		border-left:!important;
	}

	#mobilesidebar {
		display:block;
		z-index: 9999;
	}

	.sessionbox {
		animation-name:fadeIn;
		top:65px;
		bottom:70px;
		transform:translate(-50%, 0);
	}

	#mobilesidebarwrapper {
		position:fixed;
	    background: $dark-blue;
	    top: 50px;
	    right: 0;
	    left: 0;
	    z-index: 9999;
	    bottom:50px;
	    overflow:scroll;
	    -webkit-overflow-scrolling: touch;
	    transform:translateX(-100%);
	    transition: all .5s;
	    box-sizing:border-box;
	    padding:15px 25px 25px 25px;
	}

	body.nofixed #sidebar, body.nofixed #mobilesidebarwrapper, body.nofixed .scrollwrapper {
		position:fixed;
		top:0;
		bottom:0;
	}

	body.nofixed #mobilesidebarwrapper {
		top:50px;
		bottom:50px;
	}

	#contentwrapper.sidebaropen {
		overflow:hidden !important;
	}

	#mobilesidebarwrapper.open {
		transform:translateX(0);
	}

	#mobilesidebarwrapper #homeside {
		position:static;
		transform:none;
		color:#fff;
		width:100%;
		box-sizing:border-box;
		border-left:none;
		padding:0;
	}

	#pagewrapper.widthfixedsidebar {
		padding:0 25px;
		position:static;
	}

	#mobilesidebarwrapper .homesidesection {
		padding-left:0;
		padding-right:0;
		padding:15px 0 15px 0;
		border-bottom:1px solid #414952;
	}

	.homesideborders {
		border-bottom:1px solid #414952;
		border-top:1px solid #414952;
	}


	#mobilesidebarwrapper #homeside .newinvoiceicon {
		display:none !important;
	}

	.closemobilesidebar {
		display:block !important;
		width:auto;
		line-height:36px;
	}

	.closemobilesidebar:before {
		width:14px;
		height:14px;
		background-image:$white-close-icon;
		display:inline-block;
		margin-right:8px;
		content:"";
		position:relative;
		top:2px;
	}

	.homeinvoice {
		float:none;
    	width: calc(33.33333% - 35px);
	}

	#mobilesidebarwrapper #homeside > div:nth-of-type(1) {
		padding-botom:25px;
	}

	#homepagination {
		position:fixed;
		transform:translate3d(0,0,0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-overflow-scrolling: touch;
		left:0 !important;
		top:50px !important;
		right:0 !important;
		padding:0 !important;
	}

	.pagination > * {
		transform:translateZ(0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-overflow-scrolling: touch;
	}

	#homepagination .pagination > * {
		border-top:0;
	}

	#searchresults.haspagination {
		padding-top:30px;
	}

	#toolbar {
		top:50px;
		height:54px;
		background-color:#fff;
		border-bottom:1px solid #dedede;
	}

	body.nofixed.homepage #toolbar {
		top: 0 !important;
	}

	#toolbarcontent {
		height:54px;
		width:auto;
		margin: 0 25px;
	}

	#invoicewrapper, #invoicewrapper.show {
		width:auto;
		margin:81px 25px 25px 25px;
		padding-bottom:0;
	}

	body.homepage #mobilescrollwrapper #validationerrors {
		top:20px;
	}

	body.homepage #invoicewrapper {
		margin:25px;
	}

	#formwrapper #validationerrors  {
		width:auto;
		margin: 0 25px 0 25px;
		top:75px;
	}

	#sidebar, .scrollwrapper {
		position:relative;
		width:auto;
		overflow:hidden;
		background-color:$dark-blue;
		top:0;
	}

	#mobilesidebarwrapper.invoicesidebar {
		padding:0;
	}

	#mobilesidebarwrapper .button.deleteinvoice {
		position:relative;
		left:0;
		right:0;
		margin:25px 15px 10px 15px;
		width:auto;
	}

	#publicurlinput {
		display:none;
	}

	.mobilepublicurl {
		color: $light-blue;
		text-decoration: none;
		word-break: break-all;
		display:block;
		margin-top:-5px;
	}

	.success {
		bottom: 50px;
		right: 0;
		left: 0;
		border-radius:0;
		transform: translateY(0);
	}

	.back {
		transition:all .2s;
	}

	.back:hover {
		color:#5c5c5c;
	}

	.back:active {
		opacity:.25;
	}

	.showloadingspinner {
		position:fixed;
		z-index: 99999;
		background-color:rgba(236, 240, 241, 0.9);
	}

	.loadingcircle {
		left:50%;
		transform:translate(-50%,-50%);
	}

	#sidebar .edit_invoice #validationerrors.amountpaidvalidation {
		left:0 !important;
		bottom:0 !important;
		position:static;
		animation-name:validationSlideUp;
		max-width:none;
		border-radius:0;
	}

	.jobcontrols {
		right:-90px;
		border-right:none;
		width:90px;
		box-sizing:border-box;
	}

	#invoicewrapper.new #invoiceitems table, #invoicewrapper.edit #invoiceitems table {
		width: calc(100% - 90px);
	}

	#invoicewrapper.new #invoiceitems th:last-child, #invoicewrapper.edit #invoiceitems th:last-child, #invoiceitems.new #invoiceitems td.amountcell, #invoiceitems.edit #invoiceitems td.amountcell {
		padding-right:0;
	}

	#invoiceitems tr:after {
		right:0;
	}

	#ui-datepicker-div {
		z-index: 9999 !important;
		width:100%;
		animation-name:fadeInUp;
		animation-duration:.3s;
		animation-timing-function:ease;
		//animation-delay:.4s;
		transform:translateY(0);
		opacity:0;
		animation-fill-mode:forwards;
		margin-top:-6px;
	}

	@keyframes fadeInUp {
		from {
			transform:translateY(20px);
			opacity:0;
		}

		to  {
			transform:translateY(0);
			opacity:1;
		}
	}

	.ui-datepicker table {
		width:calc(100% - 50px);
		padding-bottom:12px;
	}

	.ui-datepicker td span, .ui-datepicker td a {
		padding:4px;
	}

	.tableheading th, #invoiceitems td {
		padding-right:8px;
		box-sizing:border-box;
	}

	#invoicewrapper span.e-quantity {
		max-width:60px;
	}

	#invoiceitems [contenteditable="true"] {
		margin-right:0;
	}

	.tableheading th:nth-child(1) {
		width:55% !important;
	}

	.tableheading th:nth-child(2) {
		width:15% !important;
	}

	.tableheading th:nth-child(3) {
		width:13% !important;
	}

	.tableheading th:nth-child(4) {
		width:17% !important;
		min-width:63px;
		padding-right:0;
	}

	.control {
		height:45px;
	}

	#controls h2 {
		padding:13px 22px;
		font-size:16px;
	}

	.clients-modal span {
		left:-10px;
		top:50%;
		transform:translate(-100%, -50%);
		margin-top:0;
	}

	.clients-modal span:before {
		left:auto;
		right:-7px;
		top:50%;
		transform:translateY(-50%) rotate(90deg);
	}

	#clientsearch {
		top:50px;
	}

	#bottomsection {
		padding:45px 60px 40px 65px;
	}

	#bottomsectioncontent {
		padding:30px 0;
	}

	#bottomsectioncontent p {
		font-size:20px;
		margin-right:320px;
	}

}

@media screen and (max-width:950px) {
	.clientname {
		font-size:14px;
	}

	#pagewrapper.clientspage {
		padding: 0 30px 30px 30px;
	}

	#clientsearch {
		padding-top:20px;
	}

	#clientssidebar {
		margin-top:-25px;
	}

	#pagewrapper.userpage {
		position: absolute;
		top: -18px;
		right: 0;
		left: 0;
		bottom: 0;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
	}

	#usersettingshalf, #userlogohalf {
  		width:100%;
  		float:none;
  		position:fixed;
  		top:118px;
  		left:0;
  		right:0;
  		bottom:50px;
  		transition: all .3s;
  		-webkit-overflow-scrolling: touch;
  		overflow: scroll;
  	}

  	#userlogohalf {
  		transform:translateX(100%);
  	}

  	.logosection {
  		border:none;
  	}

  	.halfpage {
  		border:none !important;
  	}

  	#pagewrapper.logovisible #usersettingshalf {
  		transform:translateX(-100%);
  	}

  	#pagewrapper.logovisible #userlogohalf {
  		transform:translateX(0);
  	}

  	#pagewrapper.userpage .clientsformwrapper, .logosection {
  		padding:0 30px 30px 30px;
  	}

  	#settingstoggles {
		position: absolute;
		display:block;
		top: 0;
		left: 20px;
		right: 20px;
		height: 28px;
		width: calc(100% - 40px);
		border-collapse: collapse;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
  	}

  	#profiletoggle, #logotoggle {
  		float:left;
  		box-sizing:border-box;
  		width:50%;
  		text-align: center;
  		border:1px solid $light-blue;
  		line-height:28px;
  		position:relative;
  		color:$light-blue;
  		font-weight:400;
  		font-size:17px;
  		transition:all .1s;
  		cursor: pointer;
		 -webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
  	}

  	#profiletoggle:active, #logotoggle:active {
  		background-color:#E5F3FD;
  	}

  	#profiletoggle.active, #logotoggle.active {
  		background-color:$light-blue !important;
  		color:#fff !important;
  	}

  	#profiletoggle {
  		border-top-left-radius:8px;
  		border-bottom-left-radius:8px;
  	}

  	#logotoggle {
  		border-top-right-radius:8px;
  		border-bottom-right-radius:8px;
  		border-left:none;
  	}

  	#herotext h1 {
  		font-size:28px;
  		margin-bottom:10px;
  	}

  	#herotext h2 {
  		font-size:18px;
  	}

  	#herotext h2 span {
  		margin:0 5px;
  	}

  	#dots {
  		margin-top:25px;
  	}

  	#bottomsectioncontent p {
		font-size:20px;
		margin-right:380px;
	}

}

@media screen and (max-width:885px) {
	.homeinvoice {
		float:none;
    	width: calc(50% - 34px);
	}

	#clientscontainer {
		width:100%;
		border-right:none;
	}

	.client {
		margin-right:0;
	}

	#clientssidebar {
		border-left:none;
		left:0 !important;
		width:auto!important;
		right:0;
		padding:0;
		margin-top:0;
		top:50px;
		transform:translateX(100%);
		bottom:50px;
		overflow:scroll;
		-webkit-overflow-scrolling: touch;
	}

	#clientssidebar .clientsformwrapper {
		padding:23px 30px 30px 30px;
	}

	#clientsearch {
		left:0 !important;
		right:0 !important;
		width:auto !important;
		padding:20px 30px 0 30px;
		margin-left:0;
	}

	#clientfiltering {
		margin-top:12px;
	}

	#clientfiltering:after {
		left:-30px;
		right:-30px;
	}

	#clientsearch .homefilter input[type="text"] {
		height:34px;
		font-size:14px;
		font-weight:400;
		width:calc(100% - 130px);
	}

	.mobilenewclient {
		display:inline-block !important;
		float:right;
		line-height:33px;
		padding:0;
		width:120px;
		text-align: center;
	}

	#clientsearch, #pagewrapper.clientspage, #clientssidebar {
		transition:transform .4s;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}

	body.clientsformopen #clientsearch, body.clientsformopen #pagewrapper.clientspage {
		transform:translateX(-100%);
	}

	body.clientsformopen #clientssidebar {
		transform:translateX(0);
	}

	#newclientbox {
		display:none;
	}

	.clientsformwrapper .loadingspinner {
		background-color:rgba(236, 240, 241, 1);
	}

	.clientsformwrapper .loadingcircle {
		left:50% !important;
	}

	#clientssidebar #toolbar {
		background-color:#fff;
		display:block;
		position:relative;
		top:0;
		padding:0 25px;
		box-sizing:border-box;
	}

	#noclients p {
		padding-right:0;
	}

	#bottomsection {
		padding:55px 60px 50px 65px;
	}

	#bottomsectioncontent {
		padding:0;
	}

	#bottomsectioncontent p {
		font-size:19px;
		margin-right:280px;
	}
}

@media screen and (max-width:760px) {
	#herotext h1 .mobilebreak {
		display:block;
	}

	#herotext h1 {
		line-height:1.15em;
		margin-bottom:15px;
	}

	#bottomsection {
		padding:45px 40px 40px 45px;
	}

	#bottomsectioncontent {
		padding:10px 0;
	}

	#bottomsectioncontent p {
		font-size: 17px;
    	margin-right: 260px;
	}

	.sessionclose {
		top:60px;
		right:10px;
	}
}

@media screen and (max-width:730px) {
	#pagewrapper.smallbox {
		max-width:none;
		margin:35px;
	}
}

@media screen and (max-width:700px) {
	.homeinvoice {
		display:none;
	}

	#pagewrapper.widthfixedsidebar {
		padding:0;
	}

	.mobilehomeinvoice {
		display:block;
		text-align: left;
		background-color:#fff;
		padding:15px;
		font-size:14px;
		color:$dark-blue;
		border-top:1px solid #e0e2e3;
		text-decoration: none;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}

	#pagewrapper.clientspage {
		padding-left:0;
		padding-right:0;
	}

	#searchresults .client {
		border-top:1px solid #e0e2e3;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		background-color:#fff;
		box-shadow:none;
		margin-bottom:0;
		border-radius:0;
	}

	#invoiceswrapper > a:last-of-type, #clientscontainer #searchresults > div:last-of-type {
		border-bottom:1px solid #e0e2e3;
		margin-bottom:35px;
	}

	#searchresults .client:active {
		background-color:#fff;
	}

	#noclients {
		border-bottom:none !important;
	}

	body.touchmoving .mobilehomeinvoice, body.touchmoving .mobilehomeinvoice.touchdown, body.touchmoving #searchresults .client, body.touchmoving #searchresults .client.touchdown {
		background-color:#fff !important
	}

	.mobilehomeinvoice.touchdown, #searchresults .client.touchdown {
		background-color:#f6f6f6 !important;
	}

	.mobilehomeinvoice h3 {
		margin:0;
		font-size:15px;
	}

	.mobilehomeinvoice p {
		margin:1px 0;
	}

	.mobilebalance {
		float:right;
		text-align: right;
	}

	.mobilebalance span {
		color:$light-blue;
		font-size:31px;
		font-weight:400 !important;
	}

	#toolbar {
		background-color:#F5F5F5;
		position:relative;
		top:0;
	}

	#invoicewrapper, #invoicewrapper.show, body.homepage #invoicewrapper {
		margin:0;
		top:0;
	}

	#invoice {
		border:none;
	}

	#formwrapper #validationerrors  {
		width:auto !important;
		margin: 0 7px 0 7px !important;
		top:7px !important;
	}

	#modalwindow {
		top:0;
		right:0;
		bottom:0;
		left:0;
		max-width:none;
		max-height:none;
		transform:translateY(100%);
		border-radius:0;
		animation-delay:0;
		animation-name: slideUp;
		animation-timing-function:cubic-bezier(.07,.89,.23,.99);
		opacity:1;
		margin-bottom:10px;
		-webkit-overflow-scrolling: touch;
	}

	#modalcontent {
		padding:20px;
	}

	#client-content {
		margin-top:-20px;
	}

	.emailclientname {
		float:none;
		text-align: left;
		margin-bottom:10px;
	}

	@keyframes slideUp {
		from {
			transform: translateY(100%);
		}

		to {
			transform: translateY(0);
		}
	}

	#removelogobutton {
		left:-14px;
	}

	#removelogobutton:hover span {
		display:none;
	}

	#invoiceitems th {
		font-size:14px;
	}

	#herotext h1 {
		font-size:25px;
		margin-bottom:8px;
	}

	#herotext h2 span {
		margin:0 2px;
		font-size:16px;
		font-weight:400;
		color:#808080;
	}

}

@media screen and (max-width:670px) {
	#bottomsection {
		padding:45px 40px 40px 45px;
	}

	#bottomsectioncontent {
		padding:0 0 270px 0;
		background-size:290px 227px;
		background-position:center bottom;
	}

	#bottomsectioncontent p {
		font-size: 17px;
    	margin-right: 0;
	}
}

@media screen and (max-width:650px) {
	section {
		padding:18px 20px 16px 20px;
	}

	#invoiceitems th:first-child, #invoiceitems td.jobdescriptioncell {
		padding-left:20px;
	}

	#invoiceitems tr:after {
		left:20px;
	}

	.tableheading th:nth-child(1) {
		width:50% !important;
	}

	.tableheading th:nth-child(2) {
		width:16% !important;
	}

	.tableheading th:nth-child(3) {
		width:16% !important;
	}

	.tableheading th:nth-child(4) {
		width:18% !important;
	}

	.amountcell {
		text-align: right;
	}

	.amountbox {
		// overflow:visible;
		min-width:50px;
	}

	#invoiceitems, #invoiceitems span {
		font-size:12px !important;
	}

	.clientsformwrapper .half.baseinvoicehalf {
	  width:calc(35% - 11px);
	  min-width:120px;
	}

	.clientsformwrapper .half.hastaxhalf {
	  width:calc(65% - 11px);
	  margin-bottom:6px;
	}

	#herotext h2 .freebreak {
		display:block;
	}

	#herotext h2 span.freespan {
		display: block;
		margin-top: 22px;
	}

	.sessionbox {
		transform:translate(0,0) !important;
		top:25px;
		left:0;
		right:0;
		bottom:30px;
		max-height:none;
		max-width:none;
		border:none;
		padding-top:60px;
	}

	.sessionbox .sessionerrortext {
		top:85px;
	}
}

@media screen and (max-width:600px) {
	#pagewrapper.nosidepadding h1 {
		padding:0 40px;
	}

	#pagewrapper.staticwrapper {
		padding:45px 40px 70px 40px;
	}

	#passwordsuccess, #passwordform {
		padding:0 40px;
	}

	#pagewrapper.nosidepadding #validationerrors.clienterrors {
		margin-left:40px;
		margin-right:0;
		width:calc(100% - 80px);
		min-width:0;
	}
}

@media screen and (max-width:540px) {
	#invoicelogo {
		width:100%;
		float:none;
		margin-bottom:20px;
	}

	#dateterms {
		width:100%;
		float:none;
	}

	#dateterms table {
		float:right;
	}

	#dateterms td.invoicesetting {
		width:auto;
	}

	#invoicelogo * {
		margin:0 auto;
	}

	#invoicewrapper {
		font-size:14px;
	}

	#dateterms td {
		padding-bottom:5px;
	}

	#e-name {
		font-size:25px;
	}

	#invoiceitems {
		font-size:15px;
	}

	.jobcontrols {
		padding:15px 10px;
		width:78px;
		right:-78px;
	}

	#invoicewrapper.new #invoiceitems table, #invoicewrapper.edit #invoiceitems table {
		width: calc(100% - 70px)
	}

	.jobcontrols div {
		width:25px;
		height:25px;
		background-size:19px 19px;
	}

	#removelogobutton {
		right:auto;
	}

	#invoiceitems span {
		font-size:14px;
		color:#484848;
	}

	[contenteditable="true"]:before, #clientinformation {
		color:#484848;
	}

	.back {
		left:-13px;
	}

	#toolbar .button {
		right:-13px;
	}

	.clientsformwrapper .half {
		width:100%;
		height:auto;
	}

	.clientsformwrapper select {
		margin-bottom:10px;
	}

	#settingfields {
		top:0;
		margin-top:4px;
	}

	#clientssidebar .clientsformwrapper  .deleteclienthalf, #clientssidebar .clientsformwrapper .saveclienthalf {
		white-space:nowrap;
		position: relative;
		width: 100%;
		text-align: center;
		left: 50%;
		left: 0;
		right: 0;
		margin: 0;
	}

	#clientssidebar .clientsformwrapper .deleteclienthalf {
		top:110px;
		margin-bottom:20px;
	}

	#clientssidebar .clientsformwrapper .button.deleteclient, #clientssidebar .clientsformwrapper .saveclienthalf .button.blue {
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
	}

	#clientssidebar .clientsformwrapper .saveclienthalf  {
		top:-18px;
	}	

	#clientssidebar .clientsformwrapper .button.deleteclient {
		width:110px;
	}

	.sessionclose {
		width: 48px;
		height: 48px;
		background-size: 36px 36px;
	}

}

@media screen and (max-width:500px) {
	#herotext {
		padding:33px 25px 46px 25px;
	}

	#herotext h1 {
		margin-bottom:13px;
		font-size: 23px;
	}

	#herotext h2 {
		line-height:1.15em;
	}

	#herotext h2 .mobilebreak {
		display:block;
	}

	#herotext h2 span.freespan {
		margin-top:13px;
	}

	#dots {
		margin-top:20px;
	}

	.sessionbox {
		padding-left:30px;
		padding-right:30px;
	}

	.sessionbox h3 {
		font-size:21px;
		margin:5px 15px 20px 0;
	}

	.sessionerror h3 {
		transform:translateY(-7px);
	}

	p.staticsubmit {
		text-align: center;
	}

	p.staticsubmit .button.blue {
		float:none;
	}
}

@media screen and (max-width:470px) {
	.tableheading th:nth-child(1) {
		width:39% !important;
	}

	.tableheading th:nth-child(2) {
		width:24% !important;
	}

	.tableheading th:nth-child(3) {
		width:17% !important;
	}

	.tableheading th:nth-child(4) {
		width:20% !important;
	}

	.e-jobdescription:before {
		content:"Description";
	}

	#passwordsuccesscontent {
		font-size:17px;
		padding:22px 30px;
	}

	.registerbreak {
		display:block;
	}
}

@media screen and (max-width: 430px) {
	#invoiceitems th:first-child, #invoiceitems td.jobdescriptioncell {
		padding-right:10px;
	}

	.clientsformwrapper .half.hastaxhalf {
	  width:calc(100% - 11px);
	}

	#bottomsection {
		padding:0 0 40px 0;
	}

	#bottomsectioncontent {
		padding:45px 40px 230px 45px;
		background-size:240px 188px;
	}

	#bottomsectioncontent p {
		font-size: 17px;
    	margin-right: 0;
	}

	#pagewrapper.smallbox {
		margin:15px;
	}
}

@media screen and (max-width:400px) {
	.back {
		font-size:15px;
		padding-left:20px;
		font-weight:400;
	}

	.back:before {
		transform:scale(.7);
	}

	#clientssidebar .clientsformwrapper form {
		margin-bottom:-40px;
	}

	#clientscontainer #searchresultswrapper {
		padding-bottom:0;
	}

	#pagewrapper.clientspage {
		padding-bottom:1px;
	}

	#herotext {
		padding-left:20px;
		padding-right:20px;
	}

	#herotext h1 {
		font-size:21px;
	}

	.staticwrapper a.forgotpassword {
		float:none;
		display:block;
		margin-top:-6px;
	}

	#pagewrapper.staticwrapper .loginbutton.blue {
		float:none;
		margin-left:auto;
		margin-right:auto;
		display:block;
		width:180px;
		margin-top:25px;
	}

}

@media screen and (max-width:355px) {
	nav a, #menu a {
		font-size:11px;
	}

	#toolbar .button {
		transform:translateY(-50%) scale(.8);
		transform-origin:right center;
	}
}

@media screen and (max-width: 310px) {
	#userpreferences .taxincluded input[type="checkbox"] + label span {
		display:block;
		margin-bottom:6px;
	}
}