@import "variables";

@media screen and (max-width:1210px) {
	#invoicewrapper {
		width: calc(100% - 408px);
	    left: 0;
	    margin-left: 320px;
	    max-width: none;
	}

	#invoicewrapper.show {
		width: calc(100% - 358px);
	}
}

@media screen and (max-width:1100px) {
	nav a, #sessioninfo a {
		padding-left:25px;
		padding-right:25px;
		background-position:25px center;
	}

	.navinvoices {
		padding-left:52px;
	}

	.navclients {
		padding-left:54px;
	}

	#sessioninfo .navprofile {
		padding-left:54px;
	}

	#sessioninfo .navsignout {
		padding-left:55px;
	}
}

@media screen and (max-width:1020px) {
	body, html {
		overflow:hidden;
	}

	#htmlwrapper {
		position:absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		overflow:hidden;
	}

	#contentwrapper {
		position:absolute;
		top:63px;
		right:0;
		bottom:0;
		left:0;
		overflow-y:scroll;
		overflow-x:hidden;
		-webkit-overflow-scrolling: touch;
	}

	#htmlwrapper:before {
		content:"";
		display:block;
		position:absolute;
		top:0;
		left:0;
		right:0;
		height:50px;
		background-image:asset-url('logo.png');
		background-size:100px 25px;
		background-repeat:no-repeat;
		background-position:center center;
		background-color:#41a9ee;
	}

	header .logo {
		display:none;
	}

	#contentwrapper {
		top:50px;
		bottom:50px;
	}

	header {
		bottom:0;
		top:auto;
		height:50px;
		position:absolute;
	}

	#menu {
		position: static;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    background-color: #fff;
	    z-index: 9999;
	    border-top:1px solid #D4D4D4;
	    height:50px;
	    transform:translate3d(0,0,0);
	    -webkit-backface-visibility: hidden;
	}

	nav a, #sessioninfo a, header .newinvoiceicon {
		height:50px;
		text-align: center;
		background-position:top 8px center;
	}

	#sessioninfo {
		width:40%;
	}

	nav a, #menu a {
		width:20%;
		font-size:12px;
		padding:32px 0 0 0 !important;
		line-height:12px;
	}

	#sessioninfo a {
		width:50%;
	}

	header a.button.blue {
		margin:0;
		padding:0;
		height:50px;
		border-radius:0;
		position:static;
		transform:none;
		background-image:$new-white-icon;
		background-size:15px 17px;
		top:auto;
		background-position: top 10px center;
	}

	header .newinvoiceicon:before {
		display:none;
	}

	.navclients {
		border-right:none !important;
	}

	.navprofile {
		border-left:!important;
	}
}