@import "variables";

@media screen and (max-width:1210px) {
	#invoicewrapper {
		width: calc(100% - 408px);
	    left: 0;
	    margin-left: 320px;
	    max-width: none;
	}

	#invoicewrapper.show {
		width: calc(100% - 358px);
	}

	#toolbarcontent {
		width: calc(100% - 358px);
		left: 0;
	    margin-left: 320px;
	    max-width: none;
	}
}

@media screen and (max-width:1100px) {
	nav a, #sessioninfo a {
		padding-left:25px;
		padding-right:25px;
		background-position:25px center;
	}

	.navinvoices {
		padding-left:52px;
	}

	.navclients {
		padding-left:54px;
	}

	#sessioninfo .navprofile {
		padding-left:54px;
	}

	#sessioninfo .navsignout {
		padding-left:55px;
	}
}

@media screen and (max-width:1020px) {

	body, html {
		overflow:hidden;
		max-height: 100%;
		max-width: 100%;
	}

	#htmlwrapper, body.ios #htmlwrapper, body.android #htmlwrapper {
		position:fixed;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-overflow-scrolling: touch;
		transform:translate3d(0,0,0);
		top:0;
		left:0;
		bottom:0;
		right:0;
		width:100%;
		height:100%;
		overflow:hidden;
	}

	#contentwrapper, body.ios #contentwrapper, body.android #contentwrapper {
		position:fixed;
		right:0;
		top:50px;
		bottom:50px;
		padding-top:0;
		left:0;
		overflow-y:scroll;
		overflow-x:hidden;
		-webkit-overflow-scrolling: touch;

	}

	#htmlwrapper:before {
		content:"";
		display:block;
		position:absolute;
		top:0;
		left:0;
		right:0;
		height:50px;
		background-image:asset-url('logo.png');
		background-size:100px 25px;
		background-repeat:no-repeat;
		background-position:center center;
		background-color:#41a9ee;
	}

	header .logo {
		display:none;
	}

	header {
		bottom:0;
		top:auto;
		height:50px;
		position:fixed;
		border-top:1px solid #D4D4D4;
	}

	#menu {
		position: fixed;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    background-color: #fff;
	    z-index: 9999;
	    height:50px;
	    transform:translate3d(0,0,0);
	    -webkit-backface-visibility: hidden;
	}

	nav a, #sessioninfo a, header .newinvoiceicon {
		height:50px;
		text-align: center;
		background-position:top 8px center;
	}

	#sessioninfo {
		width:40%;
	}

	nav a, #menu a {
		width:20%;
		font-size:12px;
		padding:32px 0 0 0 !important;
		line-height:12px;
	}

	#sessioninfo a {
		width:50%;
	}

	header a.button.blue {
		margin:0;
		padding:0;
		height:50px;
		border-radius:0;
		position:static;
		transform:none;
		background-image:$new-white-icon;
		background-size:15px 17px;
		top:auto;
		background-position: top 10px center;
	}

	header .newinvoiceicon:before {
		display:none;
	}

	.navclients {
		border-right:none !important;
	}

	.navprofile {
		border-left:!important;
	}

	#mobilesidebar {
		display:block;
	}

	#mobilesidebarwrapper {
		position: absolute;
	    background: #26323f;
	    top: 50px;
	    right: 0;
	    left: 0;
	    z-index: 9999;
	    bottom:50px;
	    overflow:scroll;
	    -webkit-overflow-scrolling: touch;
	    transform:translateX(-100%);
	    transition: all .5s;
	    box-sizing:border-box;
	    padding:15px 25px 25px 25px;
	}

	#contentwrapper.sidebaropen {
		overflow:hidden !important;
	}

	#mobilesidebarwrapper.open {
		transform:translateX(0);
	}

	#mobilesidebarwrapper #homeside {
		position:static;
		transform:none;
		color:#fff;
		width:100%;
		box-sizing:border-box;
		border-left:none;
		padding:0;
	}

	#pagewrapper.widthfixedsidebar {
		padding:0 25px;
		position:static;
	}

	#mobilesidebarwrapper .homesidesection {
		padding-left:0;
		padding-right:0;
		padding:15px 0 15px 0;
		border-bottom:1px solid #414952;
	}

	.homesideborders {
		border-bottom:1px solid #414952;
		border-top:1px solid #414952;
	}


	#mobilesidebarwrapper #homeside .newinvoiceicon {
		display:none !important;
	}

	.closemobilesidebar {
		display:block !important;
		width:auto;
		line-height:36px;
	}

	.closemobilesidebar:before {
		width:14px;
		height:14px;
		background-image:$white-close-icon;
		display:inline-block;
		margin-right:8px;
		content:"";
		position:relative;
		top:2px;
	}

	.homeinvoice {
		float:none;
    	width: calc(33.33333% - 35px);
	}

	#mobilesidebarwrapper #homeside > div:nth-of-type(1) {
		padding-botom:25px;
	}

	#homepagination {
		position:fixed;
		transform:translate3d(0,0,0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-overflow-scrolling: touch;
		left:0 !important;
		top:50px !important;
		right:0 !important;
		padding:0 !important;
	}

	.pagination > * {
		border-top:0;
		transform:translateZ(0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-overflow-scrolling: touch;
	}

	#searchresults.haspagination {
		padding-top:30px;
	}

	#toolbar {
		top:50px;
		height:54px;
		background-color:#fff;
		border-bottom:1px solid #dedede;
	}

	#toolbarcontent {
		height:54px;
		width:auto;
		margin: 0 25px;
	}

	#invoicewrapper, #invoicewrapper.show {
		width:auto;
		top:81px;
		margin:0 25px 25px 25px;
	}

	#sidebar, .scrollwrapper {
		position:relative;
		width:auto;
		overflow:hidden;
		background-color:#26323f;
		top:0;
	}

	#mobilesidebarwrapper.invoicesidebar {
		padding:0;
	}

	#mobilesidebarwrapper .button.deleteinvoice {
		position:relative;
		left:0;
		right:0;
		margin:25px 15px 10px 15px;
		width:auto;
	}

	#publicurlinput {
		display:none;
	}

	.mobilepublicurl {
		color: #41A9EE;
		text-decoration: none;
		word-break: break-all;
		display:block;
		margin-top:-5px;
	}

	.success {
		bottom: 50px;
		right: 0;
		left: 0;
		border-radius:0;
		transform: translateY(0);
	}

	.back {
		transition:all .2s;
	}

	.back:hover {
		color:#5c5c5c;
	}

	.back:active {
		opacity:.25;
	}

}

@media screen and (max-width:885px) {
	.homeinvoice {
		float:none;
    	width: calc(50% - 34px);
	}
}

@media screen and (max-width:700px) {
	.homeinvoice {
		display:none;
	}

	#pagewrapper.widthfixedsidebar {
		padding:0;
	}

	.mobilehomeinvoice {
		display:block;
		text-align: left;
		background-color:#fff;
		padding:15px;
		font-size:14px;
		color:#26323f;
		border-top:1px solid #e0e2e3;
		text-decoration: none;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}

	#invoiceswrapper > a:last-of-type {
		border-bottom:1px solid #e0e2e3;
		margin-bottom:35px;
	}

	body.touchmoving .mobilehomeinvoice, body.touchmoving .mobilehomeinvoice.touchdown {
		background-color:#fff !important
	}

	.mobilehomeinvoice.touchdown {
		background-color:#f6f6f6;
	}

	.mobilehomeinvoice h3 {
		margin:0;
		font-size:15px;
	}

	.mobilehomeinvoice p {
		margin:1px 0;
	}

	.mobilebalance {
		float:right;
		text-align: right;
	}

	.mobilebalance span {
		color:#41a9ee;
		font-size:31px;
		font-weight:400 !important;
	}

	#toolbar {
		background-color:#F5F5F5;
		position:relative;
		top:0;
	}

	#invoicewrapper, #invoicewrapper.show {
		margin:0;
		top:0;
	}

	#invoice {
		border:none;
	}

	#modalwindow {
		top:0;
		right:0;
		bottom:0;
		left:0;
		max-width:none;
		max-height:none;
		transform:translateY(100%);
		border-radius:0;
		animation-delay:0;
		animation-name: slideUp;
		animation-timing-function:cubic-bezier(.07,.89,.23,.99);
		opacity:1;
		margin-bottom:10px;
		-webkit-overflow-scrolling: touch;
	}

	#modalcontent {
		padding:20px;
	}

	.emailclientname {
		float:none;
		text-align: left;
		margin-bottom:10px;
	}

	@keyframes slideUp {
		from {
			transform: translateY(100%);
		}

		to {
			transform: translateY(0);
		}
	}

}

@media screen and (max-width:540px) {
	#invoicelogo {
		width:100%;
		float:none;
		margin-bottom:15px;
	}

	#dateterms {
		width:100%;
		float:none;
	}

	#dateterms td.invoicesetting {
		width:auto;
	}

	#invoicelogo * {
		margin:0 auto;
	}

	#invoicewrapper {
		font-size:15px;
	}

	#dateterms td {
		padding-bottom:0;
	}

	#e-name {
		font-size:25px;
	}

	#invoiceitems {
		font-size:15px;
	}
}

@media screen and (max-width:340px) {
	nav a, #menu a {
		font-size:11px;
	}
}